﻿@{ 
    Layout = null;
}
<div id="searchFilterHead" class="clearfix">
    <div class="top">
        <h1 class="title pull-left">Skill Directory</h1>
        <button class="toggle" ng-class="{'active': menuSmall}" ng-click="menuSmall = !menuSmall">
            <i class="mdi" ng-class="menuSmall ? 'mdi-menu' : 'mdi-backburger'"></i>
        </button>
    </div>
    <div id="searchResultsOptions">
        <div class="options">
            <label>Sort By</label>
            <select class="browser-default" ng-model="sortBy" ng-options="sort.value as sort.name for sort in sorts">
            </select>
        </div>
    </div>
    <button class="start-compare pull-right" ng-if="comparedItems.length == 2">Start Comparing!</button>
    <button class="animated bounceInRight compare pull-right" ng-class="{'comparing':comparing}" ng-click="toggleComparing()" ng-if="people.length > 0">
        <i class="mdi" ng-class="comparing ? 'mdi-close' : 'mdi-compare'"></i>
    </button>
</div>
<div id="searchFilter" ng-class="{'sml': menuSmall}">
    <div class="filter-holder">
        <ul class="filter-list">
            <li class="title">KEY WORDS</li>
            <li>
                <form novalidate ng-submit="addTag()">
                    <input placeholder="Start typing and press enter" class="keywords" type="text" ng-model="newTag">
                </form>
            </li>
            <li class="tag-holder with-padding-side clearfix" ng-cloak>
                <div class="search-tag animated pulse" ng-repeat="tag in tags">
                    <span>{{tag}}</span>
                    <button ng-click="deleteTag($index)"><i class="mdi mdi-close"></i></button>
                </div>
            </li>
        </ul>
        <ul class="filter-list">
            <li class="title">DEPARTMENTS</li>
            <li ng-repeat="dept in applicableDepartments">
                <h1 class="clickables" ng-click="selectDepartment(dept.id)" ng-class="{ 'active': selectedDepartment == dept.id }">
                    <span>{{dept.name}}</span><b>{{dept.count}}</b>
                </h1>
            </li>
        </ul>
        <ul class="filter-list">
            <li class="title">EXPERIENCE</li>
            <li class="with-padding-less" style="margin-bottom:10px;">
                <h1 class="experience">{{expText()}}</h1>
                <rzslider rz-slider-model="filter.experience.min" rz-slider-high="filter.experience.max" rz-slider-options="sliderOptions"></rzslider>
            </li>
        </ul>
        <ul class="filter-list">
            <li class="title">PERSONAL INFORMATION</li>
            <li class="with-padding">
                <checkbox ng-model="filter.everyone" id="everyone"ng-change="filterChange()"></checkbox>
                <label class="for-checkbox" for="everyone">Everyone</label>
            </li>
            <li class="with-padding">
                <checkbox ng-disabled="filter.everyone" id="hasFamily" ng-model="filter.hasFamily" ng-change="filterChange()"></checkbox>
                <label class="for-checkbox" for="hasFamily">Has a Family</label>
            </li>
            <li class="with-padding">
                <checkbox ng-disabled="filter.everyone" id="isReligious" ng-model="filter.isReligious" ng-change="filterChange()"></checkbox>
                <label class="for-checkbox" for="isReligious">Religious</label>
            </li>
            <li class="with-padding">
                <checkbox ng-disabled="filter.everyone" id="onProject" ng-model="filter.onProject" ng-change="filterChange()"></checkbox>
                <label class="for-checkbox" for="onProject">On a Project</label>
            </li>
        </ul>
    </div>
    <button class="btn filter-button reset" ng-click="reset()">Reset Filters</button>
</div>
<div id="searchResults" ng-class="{'lrg': menuSmall}">
    @Html.Partial("Loading")
    <ul class="people-list clearfix" ng-if="people.length > 0" ng-cloak>
        <li ng-repeat="person in people | orderBy:sortBy" 
            class="animated fadeInLeft" 
            ng-class="{'red' : person.experience >= 30, 'orange' : person.experience < 30 && person.experience >= 20, 'green' : person.experience < 20 && person.experience >= 10, 'blue': person.experience < 10 && person.experience >= 0, 'active': person.showDetails}">
            <button class="full-checker" ng-click="addOrRemCompare(person.employeeId)" ng-if="comparing" ng-class="{'selected':comparedItems.indexOf(person.employeeId) > -1}">
                <b><i class="mdi mdi-check"></i></b>
            </button>
            <div class="card-content">
                <div class="img-left">
                    <div class="img-holder">
                        <img ng-src="{{person.img == null ? 'content/images/default-' + person.sex + '.png' : person.img}}" alt="temp" />
                    </div>
                    <div class="surrounded-check" ng-if="person.projects.length < 1" ng-cloak>
                        <div>
                            <i class="mdi mdi-check"></i>
                        </div>
                    </div>
                </div>
                <div class="basic-info">
                    <h1 class="name">{{person.firstName + " " + person.lastName}}</h1>
                    <h1 class="title">{{person.jobTitle}}</h1>
                    <h1 class="department">{{person.department}}</h1>
                    <div class="buttons">
                        <button ng-click="viewProfile(person.employeeId)"><i class="mdi mdi-account-outline"></i></button>
                        <button class="bordered"><i class="mdi mdi-plus"></i></button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="filler animated wobble" ng-if="people.length < 1" ng-cloak>
        <div ng-if="!fromASearch">
            <img src="~/Content/images/group.png" />
            <h1>Use the filters and start <b>R</b>ekrüt-ing!</h1>
        </div>
        <div ng-if="fromASearch">
            <i class="mdi mdi-emoticon-sad"></i>
            <h1>Sorry no <b>R</b>ekrüts were found. Try using some different filters.</h1>
        </div>
    </div>
</div>