﻿html {
    font-family:'Proxima Nova','Open Sans', sans-serif;
    height:100%;
    background:url('../images/auth-bg.jpg');
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}
#loginForm{
    position:fixed;
    top:50%;
    left:50%;
    width:350px;
    height:390px;
    margin:-195px 0 0 -175px;
    background:none;
    border-radius:3px;
    box-shadow:rgba(0,0,0,0.1) 0 0 4px;
}
#loginForm .logo{
    text-align:center;
    font-weight:200;
    font-size:40px;
    margin:20px 0 10px 0;
    color:#e4e4e4;
}
#loginForm .logo b{
    color:rgba(103,47,84,1);
}
#loginForm .title{
    font-size:16px;
    color:#a4a4a4;
    text-align:center;
    font-weight:100;
    margin:0 0 30px 0;
}
.input-holder{
    display:block;
    text-align:left;
    margin-bottom:15px;
    position:relative;
}
.input-holder label{
    position:absolute;
    z-index:99;
    display:block;
    margin-bottom:5px;
    color:#999CA1;
    font-size:14px;
    bottom:10px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.input-holder input {
    position:relative;
    z-index:100;
    display: block;
    width:100%;
    height: 42px;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #CFD3D6;
    padding-right: 20px;
    outline: none;
    color:#999CA1;
    background: none;
    font-family: 'Open Sans', sans-serif;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.input-holder input:hover{
    box-shadow:rgba(0,0,0,0.05) 0 1px 2px;
    border-color:#AFB8BF;
}
.input-holder input:focus{
    border-color:#5297FC;
    box-shadow:rgba(82, 151, 252, 0.20) 0 2px 0;
    color:#fff;
}
.input-holder input.input-validation-error{
    border-color:#bd0000;
}
.input-holder input.input-validation-error:focus{
    box-shadow:rgba(189, 0, 0, 0.2) 0 2px 0;
}
.input-holder input.valid{
    border-color:#7fd948;
    position:relative;
}
.input-holder input.valid:focus{
    box-shadow:rgba(68, 180, 0, 0.20) 0 2px 0;
}
.input-holder.active label{
    bottom:30px;
    font-size:13px;
    font-weight:bold;
    color:#fff;
}
button[type=submit]{
    width:180px;
    height:45px;
    background:#6D2D52;
    color:#fff;
    font-weight:400;
    font-size:14px;
    border-radius:2px;
    border:none;
    margin:30px auto;
    display:block;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline:none;
}
button[type=submit]:hover{
    background:#423561;
    cursor:pointer;
    box-shadow:rgba(0,0,0,0.3) 1px 5px 6px;
}
.bottom{
    text-align:center;
    display:block;
}
.bottom a{
    font-weight:400;
    font-size:14px;
    color:#a4a4a4;
    margin-top:10px;
    display:inline-block;
    text-decoration:none;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.bottom a:hover{
    color:#5297FC;
}
.validation-summary-errors{
    background:rgba(224, 224, 224, 0.10);
    height:50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    font-weight: bold;
    font-size:14px;
}