﻿html, body{
    height:100%;
    font-family:'Proxima Nova Alt', 'Open Sans', sans-serif;
    background:#F5F8F9;
}
/* ui */
.overlay{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1001;
    background:rgba(255,255,255,0.5);
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal.alert-modal .modal-dialog{
    width:350px;
}
.modal.alert-modal .modal-dialog .modal-content{
    border-radius:3px;
    text-align:center;
}
.modal.alert-modal .modal-dialog .modal-content .modal-body h1{
    font-size:18px;
    color:#5E656A;
}
.modal.alert-modal .modal-dialog .modal-content .modal-body p{
    font-size:16px;
    color:#8F9296;
}
.modal.alert-modal .modal-dialog .modal-content .modal-footer{
    text-align:center;
}
.modal.alert-modal .modal-dialog .modal-content .modal-footer button {
    outline: none;
    height: 35px;
    background: #53b529;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 0 20px;
    text-transform: none;
    box-shadow: rgba(0,0,0,0.15) 0 1px 2px, inset rgba(0,0,0,0.10) 0 -3px 3px;
    text-shadow: rgba(0,0,0,0.3) 0 -1px 1px;
    font-family: 'Proxima Nova', Roboto, 'Open Sans', sans-serif;
    font-weight: bold;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.modal.alert-modal .modal-dialog .modal-content .modal-footer button:hover{
    box-shadow: rgba(0,0,0,0.2) 0 2px 3px;
}
.rekrut-modal {
    z-index:2000;
    position: fixed;
    top: 0;
    bottom: -1px;
    left: 50%;
    width: 780px;
    margin-left: -390px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    box-shadow: rgba(0,0,0,0.1) 0 0 8px;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    font-family:'Proxima Nova', 'Open Sans', sans-serif;
    overflow:hidden;
}
.rekrut-modal form{
    position:absolute;
    overflow:hidden;
    top:102px;
    left:0;
    right:0;
    bottom:0;
}
.rekrut-modal.no-tab form{
    top:0;
}
.rekrut-modal form .inner{
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    right:0;
    bottom:55px;
}
.rekrut-modal.no-tab form .inner{
    padding:0 25px 25px 25px;
}
.rekrut-modal form .buttons{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    border-top:1px solid #E2E2E2;
    padding:10px 0;
    background:#fff;
}
.rekrut-modal .title{
    font-size:18px;
    font-weight:400;
    margin:30px 0 20px 0;
    text-align:center;
}
.rekrut-modal .modal-tabs{
    display:block;
    margin:20px 0 30px 0;
    border-bottom:1px solid #E2E2E2;
    text-align:center;
    position:relative;
}
.rekrut-modal .modal-tabs button {
    background: none;
    border: none;
    font-weight: bold;
    font-family: 'Proxima Nova', 'Open Sans', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    margin: 0 10px;
    color: #AFB8BF;
    position: relative;
    outline:none;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.rekrut-modal .modal-tabs button:hover{
    color:#5851c4;
}
.rekrut-modal .modal-tabs button.active{
    color:#5297FC;
}
.rekrut-modal .modal-tabs button.active:after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:-1px;
    height:3px;
    background:#5297FC;
}
.rekrut-modal .modal-tabs button i{
    margin-right:5px;
    font-size:18px;
}
.rekrut-modal .tab-content-holder{
    overflow:hidden;
    height:100%;
}
.rekrut-modal .tab-content-holder-inner{
    width:9999px;
    height:100%;
}
.rekrut-modal .tab-content-holder .tab-content{
    width:778px;
    vertical-align:top;
    height:0;
    overflow:hidden;
    display:inline-block;
    padding:30px 30px 20px 30px;
}
.rekrut-modal .tab-content-holder .tab-content.active{
    height:100%;
    overflow:visible;
}
.rekrut-modal .inline-input{
    display:block;
    margin-bottom:10px;
    position:relative;
}
.rekrut-modal .inline-input > i{
    position:absolute;
    left:5px;
    top:33px;
    font-size:22px;
    color:#888;
}
.rekrut-modal .inline-input button{
    height:35px;
    width:35px;
    margin:0;
    display:inline-block;
    padding:0;
    vertical-align:top;
    margin-left:-5px;
    border-radius:0 2px 2px 0;
    background:#399BFE;
    border:1px solid #3283f8;
    color:#fff;
    box-shadow:rgba(0,0,0,0.2) 0 1px 2px;
}
.rekrut-modal .inline-input.floating{
    position:absolute;
    top:77px;
    left:0;
}
.rekrut-modal .inline-input.floating.right{
    left:auto;
    right:33px;
}
.rekrut-modal .inline-input.floating::after,
.rekrut-modal .inline-input.floating::before{
    content:'';
    position:absolute;
    height:15px;
    width:1px;
    background:#AFB8BF;
    top:-15px;
}
.rekrut-modal .inline-input.floating::after{
    left:30px;
}
.rekrut-modal .inline-input.floating::before{
    right:30px;
}
.rekrut-modal .inline-input.floating > i{
    top:8px;
}
.rekrut-modal label{
    width:70px;
    font-size:14px;
    font-weight:bold;
    color:#444;
    display:inline-block;
    vertical-align:baseline;
}
.rekrut-modal input[type=text] {
    width: auto;
    display: inline-block;
    height: 35px;
    border-radius: 2px !important;
    border: 1px solid #dedede;
    padding: 0 10px;
    font-size: 14px;
    text-align: left;
    outline: none;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.rekrut-modal input[type=text]:focus{
    border-color: #5297FC;
    box-shadow: rgba(82, 151, 252, 0.50);
}
.rekrut-modal input.full{
    width:635px;
}
.rekrut-modal input.med{
    width:355px;
}
.rekrut-modal input.sml{
    width:122px;
}
.rekrut-modal input.with-icon{
    padding-left:30px;
}
.rekrut-modal .inline-input-holder{
    display:block;
    margin-bottom:10px;
}
.rekrut-modal .inline-input-holder .inline-input{
    display:inline-block;
    margin-right:10px;
}
.rekrut-modal .inline-input-holder .inline-input label{
    display:block;
    width:100%;
}
.modal-placeholder{
    width:300px;
    margin:40px auto;
    text-align:center;
}
.modal-placeholder i{
    font-size:50px;
    color:#5297FC;
}
.modal-placeholder h1{
    font-size:16px;
    font-weight:200;
    margin:0;
}
.blocks{
    height:100%;
    position:relative;
}
.blocks.left{
    border-right: 1px solid #E2E2E2;
}
.blocks.left.fat-border{
    border-right: 3px solid #E2E2E2;
}
.blocks.right{
    right:0;
}
.blocks .title{
    height:76px;
    line-height:76px;
    margin:0;
    border-bottom: 1px solid #E2E2E2;
    font-size:14px;
    font-weight:bold;
    color:#888;
}
.blocks .search{
    display:block;
    padding:20px;
    border-bottom: 1px solid #E2E2E2;
}
.blocks .search .sorter{
    position: absolute;
    right: 20px;
    top: 20px;
}
.blocks .search .sorter > button {
    height: 35px;
    padding: 0 10px;
    background: none;
    font-size: 20px;
    color: #ccc;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border:none;
    background:none;
    outline:none;
}
.blocks .search .sorter.open > button{
    color:#5297FC;
    background:none;
}
.blocks .search .sorter > button:hover{
    color:#53b529;
    background:none;
    border:none;
}
.blocks .search .sorter .dropdown-menu{
    border-radius:2px;
}
.blocks .search .sorter .dropdown-menu li button {
    display: block;
    width: 100%;
    height: 30px;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline:none;
    color:#555;
}
.blocks .search .sorter .dropdown-menu li button i{
    float:right;
    font-size:16px;
    margin-top:2px;
}
.blocks .search .sorter .dropdown-menu li button:hover{
    color:#5851c4;
    font-weight:bold;
}
.blocks .search .sorter .dropdown-menu li:last-child button{
    border-bottom:none;
}
.blocks .search select{
    width:110px;
}
.blocks .select2-container--default .select2-selection--single, 
.blocks .select2-container .select2-choice{
    background:#399BFE;
    border-radius:2px 0 0 2px;
    box-shadow: rgba(0,0,0,0.15) 0 1px 2px, inset rgba(0,0,0,0.10) 0 -3px 3px;
    font-family:'Proxima Nova', Roboto, 'Open Sans', sans-serif;
    font-weight:bold;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border:none;
}
.blocks .select2-selection--single .select2-selection__rendered {
    color:#fff;
    text-shadow:rgba(0,0,0,0.3) 0 -1px 1px;
    text-align:center;
}
.blocks .select2-container--default .select2-selection--single .select2-selection__arrow:after, 
.blocks .select2-container .select2-choice .select2-arrow::after{
    color:#fff;
    text-shadow:rgba(0,0,0,0.3) 0 -1px 1px;
}
.blocks .search input{
    display:inline-block;
    width:314px;
    margin-left:-4px;
    border-radius:0 2px 2px 0;
    border-left:none;
    padding-right:45px;
}
.blocks .inner-overlay{
    position:absolute;
}
.selectable-list{
    display:block;
}
.blocks .selectable-list, .blocks .sml-list{
    position:absolute;
    top:76px;
    bottom:0;
    left:0;
    right:0;
    margin-bottom:0;
}
.blocks .selectable-list.ps-container > .ps-scrollbar-y-rail{
    width:6px;
}
.blocks .selectable-list.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{
    width:6px;
    border-radius:2px;
}
.selectable-list li, .blocks .sml-list li{
    padding:10px;
    border-bottom: 1px solid #E2E2E2;
}
.selectable-list li:hover, .blocks .sml-list li:hover{
    background:#f6f6f6;
    box-shadow:rgba(0,0,0,0.1) 0 1px 2px;
}
.selectable-list li .img-holder, .blocks .sml-list li .img-holder{
    display:block;
    width:50px;
    height:50px;
    overflow:hidden;
    position:relative;
    border-radius:100%;
}
.selectable-list li .img-holder img, .blocks .sml-list li .img-holder img{
    min-width:50px;
    max-height:50px;
}
.selectable-list li .details {
    margin-left:10px;
}
.selectable-list li .details h1, .blocks .sml-list li h1{
    margin:5px 0;
    font-size:14px;
    font-weight:400;
    display:block;
}
.selectable-list li .details h2, .blocks .sml-list li h2{
    display:inline-block;
    font-size:14px;
    font-weight:400;
    color:#888;
    margin:0 20px 0 0;
    width:220px;
}
.blocks .sml-list li h2{
    width:auto;
}
.selectable-list li .details .counts{
    font-size:16px;
    display:inline-block;
}
.selectable-list li .details .counts span{
    margin-right:10px;
    color:#555;
}
.selectable-list li .details .counts i{
    margin-left: 2px;
    margin-top: 2px;
    vertical-align: top;
    color: #53b529;
    display: inline-block;
}
.selectable-list li .adder, .sml-list li .remove {
    float:right;
    margin-top: 11px;
    background: #fefefe;
    border: 1px solid #E2E2E2;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    box-shadow:rgba(0,0,0,0.1) 0 1px 2px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align:center;
    padding:0;
    outline:none;
}
.sml-list li .remove{
    margin:0;
    margin-top:-3px;
    color:#c80000;
    border-color:rgba(200, 0, 0, 0.50);
    box-shadow:rgba(0,0,0,0.2) 0 1px 2px;
}
.sml-list li .remove:hover{
    background:#c80000;
    border-color:#c80000;
    color:#fff;
}
.selectable-list li .adder span{
    font-size:14px;
    margin:6px 5px 0 0;
    color:#f1f1f1;
}
.selectable-list li .adder.checked{
    box-shadow: rgba(0,0,0,0.15) 0 1px 2px, inset rgba(0,0,0,0.10) 0 -3px 3px;
    text-shadow:rgba(0,0,0,0.3) 0 -1px 1px;
}
.selectable-list li .adder:hover, .selectable-list li .adder.checked{
    background:#53b529;
    border-color:#53b529;
}
.selectable-list li .adder:hover span, .selectable-list li .adder.checked span{
    color:#fff;
}
.select2-container--open .select2-dropdown.rekrut-modal-select{
    z-index: 2500;
}
.rekrut-modal input[type=text]:hover,
.select2-container--default .select2-selection--single:hover,
.select2-container .select2-choice:hover{
    box-shadow:rgba(0,0,0,0.05) 0 1px 2px;
    border-color:#AFB8BF;
}
.rekrut-modal input[type=text]:focus,
.select2-container--default .select2-selection--single:focus,
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container.select2-container-active .select2-choice{
    border-color:#5297FC;
    border-width:1px;
    box-shadow:rgba(82, 151, 252, 0.20) 0 1px 2px;
}
.select2-container.select2-dropdown-open .select2-choice{
    border-radius:2px 2px 0 0;
}
.rekrut-modal select{
    width:200px;
}
.select2-container--default .select2-selection--single,
.select2-container .select2-choice{
    height:35px;
    border:1px solid #dedede;
    border-radius:2px;
    outline:none;
    background:#fff;
}
.rekrut-modal .select2-container--default.sml .select2-selection--single,
.select2-container.sml .select2-choice{
    min-width:150px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container .select2-choice > .select2-chosen{
    line-height:35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-choice .select2-arrow
{
    height:34px;
    background:none;
    border:none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:after,
.select2-container .select2-choice .select2-arrow::after{
    position:absolute;
    top:7px;
    right:3px;
    content: "\f236";
    font: normal normal normal 20px/1 "Material Design Icons";
    color:#888;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container .select2-choice .select2-arrow b{
    border:none;
    background-image:none;
}
.rekrut-modal .ng-submitted input[type=text].ng-invalid{
    border:1px solid #d34f4f;
}
.rekrut-modal .buttons .save {
    min-width: 70px;
    font-weight: 600;
    border-radius: 2px;
    background: #53b529;
    color: #fff;
    border: none;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-shadow: rgba(0,0,0,0.15) 0 1px 2px, inset rgba(0,0,0,0.10) 0 -3px 3px;
    text-shadow: rgba(0,0,0,0.3) 0 -1px 1px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.rekrut-modal .buttons .save:hover{
    background:#459b21;
    box-shadow:rgba(0,0,0,0.3) 0 2px 3px;
}
.rekrut-modal .buttons .cancel{
    background:none;
    width:80px;
    color:#d34f4f;
    text-transform:none;
    font-family:'Open Sans', sans-serif;
    box-shadow:none;
    outline:none;
    font-weight:bold;
}
.rekrut-modal .buttons .cancel:hover{
    color:#bf0000;
}
.upload-holder > div{
    float:left;
    line-height:35px;
    font-size:13px;
}
.upload-holder .nv-file-drop{
    height:35px;
    width:35px;
    color:#AFB8BF;
    font-size:20px;
    text-align:center;
    border:1px dotted #AFB8BF;
    border-radius:2px;
    margin-left:10px;
}
.upload-holder .nv-file-drop.over-zone{
    border-color:#53b529;
    color:#53b529;
}
.upload-button{
    position:relative;
}
.upload-button input[type=file]{
    visibility:hidden;
    position:absolute;
}
.upload-button button{
    background:none;
    font-weight:bolder;
    border:none;
    color:#5851c4;
    font-size:13px;
}
.upload-button button:hover{
    color:#2b23a3;
}
.rekrut-modal input[type=file]{
    background:none;
}
.rekrut-modal .upload-list{
    display:block;
    border:1px solid #E0E0E0;
    border-radius:2px;
    margin-top:10px;
}
.rekrut-modal .upload-list li:not(:last-child){
    border-bottom:1px solid #E0E0E0;
}
.rekrut-modal .upload-list span{
    display:block;
    float:left;
    line-height:35px;
    margin-left:10px;
    font-weight:400;
    font-size:14px;
}
.rekrut-modal .upload-list button{
    float:right;
    height:35px;
    width:35px;
    padding:0;
    background:none;
    border:none;
    border-left:1px solid #E0E0E0;
}
.rekrut-modal .upload-list button:hover{
    color:#d11414;
}
#head{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    border-bottom:1px solid #D8E3E7;
    background:#fff;
}
#user{
    float:right;
    margin:0 10px 0 20px;
}
#user .info{
    float:right;
    margin-top:18px;
}
#user .info h1{
    margin:0 0 3px 0;
    color:#444;
    font-size:14px;
    text-align:right;
    font-weight:bold;
}
#user .info h2{
    margin:0;
    color:#5851c4;
    font-weight:400;
    font-size:13px;
    text-align:right;
}
#user img{
    height:48px;
    width:48px;
    float:right;
    margin:10px 0 0 10px;
}
#search{
    width: 523px;
    height: 38px;
    position: absolute;
    left: 50%;
    top:50%;
    margin: -19px 0 0 -260px;
    text-align: center;
}
#search input {
    outline: none;
    width: 440px;
    height: 40px;
    float: left;
    border: 1px solid #D8D8D8;
    border-right:none;
    border-radius:2px 0 0 2px;
    padding: 0 30px 0 20px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background:#fff;
    font-size:14px;
    margin:0;
}
#search input:hover{
    box-shadow:rgba(0,0,0,0.05) 0 1px 2px;
    border-color:#AFB8BF;
}
#search input:focus{
    border-color:#999;
    box-shadow:rgba(0, 0, 0, 0.20) 0 1px 2px;
}
#search .search-settings {
    outline: none;
    position: absolute;
    right: 90px;
    top: 0;
    font-size: 22px;
    color: #ccc;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    height: 38px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#search .search-settings:hover{
    color:#888;
}
#search .search-settings i{
    display: block;
}
#search .search-btn {
    outline: none;
    width: 80px;
    height: 40px;
    float: left;
    background: #746ED2;
    color: #fff;
    border: 1px solid #6660c8;
    border-radius: 0 3px 3px 0;
    box-shadow: inset rgba(255,255,255,0.06) 0 1px 0, inset rgba(0,0,0,0.15) 0 -3px 3px;
    text-shadow:rgba(0,0,0,0.6) 0 -1px 1px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}
#search .search-btn:hover{
    background: #635bc7;
}
#sidebarTop{
    width:250px;
    height:70px;
    line-height:70px;
    float:left;
    font-weight:100;
    padding:0 0 0 20px;
}
#sidebarTop a{
    color:#271B27;
    font-size:25px;
    float:left;
}
#sidebarTop a b{
    color:#5851c4;
}
#sidebarTop a:hover{
    text-decoration:none;
}
#sidebar{
    position:fixed;
    top:69px;
    bottom:0;
    left:0;
    z-index:101;
    width:250px;
    background:#262930;
    min-height:450px;
}
.sml #sidebar{
    width:70px;
}
.sml #nav{
    margin-top:10px;
}
.sml #nav li a,
.sml #nav li button{
    position:relative;
    display: block;
    margin:auto;
    width:100%;
    outline:none;
    background:none;
    border:none;
    text-align: center;
    padding: 15px 0;
    color: #f3f3f3;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.sml #nav li a:hover,
.sml #nav li a:active,
.sml #nav li a:focus,
.sml #nav li button:hover,
.sml #nav li button:active,
.sml #nav li button:hover:focus{
    color:#5297FC;
    text-decoration:none;
}
.sml #nav li a.active{
    color:#53b529;
    text-decoration:none;
}
.sml #nav li span{
    display:none;
}
.sml #nav li i{
    font-size:24px;
}
.sml #nav li a b{
    position:absolute;
    height:15px;
    width:15px;
    border-radius:100%;
    background:#399BFE;
    color:#fff;
    font-weight:100;
    font-size:10px;
    line-height:15px;
    top:14px;
    right:17px;
}
#content {
    position: fixed;
    top: 70px;
    left: 250px;
    right: 0;
    bottom: 0;
    z-index:100;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.sml #content{
    left:70px;
}
#searchFilterHead{
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:50px;
    background:#fff;
    border-bottom:1px solid #D7E3E6;
    box-shadow:rgba(0,0,0,0.04) 0 1px 2px;
    padding:0;
}
#searchFilterHead .top{
    width:270px;
    float:left;
    border-right:1px solid #D7E3E6;
    height:50px;
}
#searchFilterHead .top .toggle {
    float: right;
    margin: 11px 10px 0 0;
    background: none;
    border: none;
    font-size: 23px;
    color: #999;
    outline: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#searchFilterHead .top .toggle.active{
    color:#53b529;
}
#searchFilterHead .top .toggle:hover{
    color:#5297FC;
}
#searchFilterHead .top .title{
    padding:0 0 0 20px;
    margin:0;
    line-height:50px;
    font-size:16px;
    font-weight:400;
    font-family:'Proxima Nova', 'Open Sans', sans-serif;
}
#searchFilterHead.sml .top .title{
    width:250px;
}
#searchFilterHead .compare {
    outline: none;
    height: 35px;
    margin: 8px 30px 0 0;
    background: #fff;
    font-size: 24px;
    color: rgba(83, 181, 41, 0.50);
    border: 1px solid #eaeaea;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}
#searchFilterHead .compare.comparing{    
    border-color:#3975ce;
    color:#5297FC;
}
#searchFilterHead .compare:hover{
    color:#53b529;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px, inset rgba(0,0,0,0.1) 0 -1px 2px;
    border-color:#53b529;
}
#searchFilterHead .compare.comparing:hover{
    color:#f14747;
    border-color:#cf0909;
}
#searchFilterHead .start-compare {
    height: 35px;
    margin: 8px 30px 0 -20px;
    border-radius: 2px;
    background: #5297FC;
    border: 1px solid #3975ce;
    font-weight: bold;
    color: #fff;
    box-shadow: rgba(0,0,0,0.2) 0 1px 2px, inset rgba(0,0,0,0.1) 0 -1px 2px;
    position: relative;
    z-index: 100;
    padding: 0 10px;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: none;
}
#searchFilterHead .start-compare:hover{
    background:#53b529;
    border-color:#36920f;
}
#searchFilter{
    position:absolute;
    top:50px;
    left:0;
    bottom:0;
    width:270px;
    background:#fff;
    border-right:1px solid #D4D9DF;
    box-shadow:rgba(0,0,0,0.04) 1px 0 2px;
    padding-top:20px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#searchFilter.without-top{
    top:0;
}
#searchFilter.sml{
    width:250px;
    left:-250px;
}
#searchFilter .btn.create-new {
    height: 35px;
    width: 210px;
    background: #53b529;
    display: block;
    margin: auto;
    border: none;
    border-radius: 2px;
    text-transform: none;
    box-shadow: rgba(0,0,0,0.15) 0 1px 2px, inset rgba(0,0,0,0.10) 0 -3px 3px;
    text-shadow: rgba(0,0,0,0.3) 0 -1px 1px;
    font-family: 'Proxima Nova', Roboto, 'Open Sans', sans-serif;
    font-weight: bold;
    outline: none;
    color: #fff;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchFilter .btn.create-new:hover,
#searchFilter .btn.create-new:active{
    color:#fff;
    background:#44a51a;
    box-shadow:rgba(0,0,0,0.2) 0 2px 3px;
}
#searchFilter .filter-holder{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:55px;
    overflow:hidden;
}
#searchFilter.with-new-btn .filter-holder{
    top:70px;
}
#searchFilter .filter-list .with-padding-side{
    padding:4px 20px;
}
#searchFilter .filter-list .with-padding{
    padding:8px 30px;
}
#searchFilter .filter-list .with-padding-less{
    padding:8px 25px;
}
#searchFilter .filter-list li label.for-checkbox{
    font-weight:normal;
    display:inline-block;
    vertical-align:top;
    margin:2px 0 0 4px;
}
#searchFilter .filter-list .keywords {
    width: 230px;
    margin: auto;
    display: block;
    padding: 0;
    height: 34px;
    border: none;
    border-bottom: 1px solid #AFB8BF;
    outline: none;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchFilter .filter-list .keywords:focus{
    border-color:#53b529;
    box-shadow:rgba(83, 181, 41, 0.1) 0 2px 3px;
}
#searchFilter .filter-list .button{
    text-align:center;
}
#searchFilter .filter-button{
    outline:none;
    height:35px;
    background:#5297FC;
    color:#fff;
    border:none;
    border-radius:2px;
    text-transform:none;
    box-shadow: rgba(0,0,0,0.15) 0 1px 2px, inset rgba(0,0,0,0.10) 0 -3px 3px;
    text-shadow:rgba(0,0,0,0.3) 0 -1px 1px;
    font-family:'Proxima Nova', Roboto, 'Open Sans', sans-serif;
    font-weight:bold;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchFilter .filter-button.reset{
    position:absolute;
    width:120px;
    bottom:15px;
    left:50%;
    margin-left:-60px;
}
#searchFilter .filter-button.reset:hover {
    box-shadow: rgba(0,0,0,0.2) 0 2px 3px;
}
#searchFilter .filter-list li.title{
    color:#B2B9BD;
    margin-bottom:2px;
    margin-top:10px;
    padding:0 20px;
}
#searchFilter .filter-list li.title-with-field{
    padding:0 20px;
    margin-top:10px;
}
#searchFilter .filter-list li.title-with-field h1{
    font-size:16px;
    font-weight:400;
    margin:10px 0 0 0;
    color:#888;
}
#searchFilter .filter-list li.title.hidable button{
    background:none;
    border:1px solid transparent;
    outline:none;
    margin-top:-5px;
    height:25px;
    line-height:25px;
    border-radius:2px;
}
#searchFilter .filter-list li.title.hidable button:hover{
    border:1px solid #E2E2E2;
    color:#5851c4;
    box-shadow:rgba(0,0,0,0.1) 0 1px 2px;
}
#searchFilter .filter-list li .clickables {
    color: #333;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
}
#searchFilter .filter-list li .clickables > i {
    color:#777;
    margin-right:6px;
    font-size:20px;
    float:left;
    margin-top:2px;
}
#searchFilter .filter-list li .clickables b{
    display:block;
    float:right;
    height:22px;
    min-width:33px;
    line-height:24px;
    text-align:center;
    border-radius:20px;
    font-size:12px;
    border:none;
    margin-top:10px;
    font-weight:400;
    background:#AAB2BD;
    color:#fff;
}
#searchFilter .filter-list li .clickables .toggle-stat {
    height: 24px;
    width: 24px;
    line-height: 25px;
    border: 1px solid #ABB1BD;
    color: #ABB1BD;
    border-radius: 100%;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchFilter .filter-list li .clickables .text{
    display:inline-block;
    margin-left:10px;
}
#searchFilter .filter-list li .clickables.checked .text{
    color:#53b529;
}
#searchFilter .filter-list li .clickables.checked .toggle-stat {
    color: #53b529;
    border-color: #53b529;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#searchFilter .filter-list li .clickables:hover .toggle-stat{
    color:#399BFE;
    border:1px solid #399BFE;
}
#searchFilter .filter-list li .clickables:hover .text{
    color:#399BFE;
}
#searchFilter .filter-list li .clickables.checked b{
    background:#53b529;
    color:#fff;
}
#searchFilter .filter-list li .clickables:hover{
    background:#EFF0F4;
    color:#777;
    text-decoration:none;
}
#searchFilter .filter-list li .clickables.active{
    background:#5851c4;
    color:#fff;
    box-shadow:rgba(0,0,0,0.3) 0 1px 2px, inset rgba(0,0,0,0.1) 0 -4px 5px, inset rgba(255,255,255,0.2) 0 1px 2px;
}
#searchFilter .filter-list li .clickables:hover > i{
    color:#888;
}
#searchFilter .filter-list li .clickables.active > i{
    color:rgba(255, 255, 255, 0.40);
}
#searchFilter .filter-list li .clickables:hover b{
    color:#fff;
    background:#399BFE;
}
#searchFilter .filter-list li .clickables.active b{
    color:#fff;
    background:rgba(255, 255, 255, 0.20);
    box-shadow:rgba(0,0,0,0.2) 0 1px 2px;
}
#searchFilter .experience{
    padding:0;
    margin:0 0 15px 0;
    font-size:14px;
    font-family:'Proxima Nova', 'Open Sans', sans-serif;
    font-weight:400;
    color:#666;
}
#searchFilter .ui-slider.ui-slider-horizontal{
    margin:0 30px;
}
#searchFilter [type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #5297FC;
    background-color: #5297FC;
}
#searchFilter [type="checkbox"].filled-in:not(:checked) + label.small:after{
    border-color:#AFB8BF;
    border-width:1px;
}
#searchFilter li .input-field label{
    font-family:'Open Sans', sans-serif;
    font-weight:100;
    font-size:14px;
    left:0;
    top:0;
}
#searchFilter li .input-field label.active {
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
#searchFilter li .input-field input{
    font-size:14px;
    margin:0;
}
#searchFilter li.tag-holder .search-tag {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #AFB8BF;
    margin-left: 5px;
    border-radius: 4px;
    padding: 5px 10px;
    background: #f2f2f2;
    font-weight:bold;
    text-shadow: rgba(255,255,255,0.6) 0 1px 1px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px, inset rgba(255,255,255,0.2) 0 1px 0;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#searchFilter li.tag-holder .search-tag:first-child{
    margin-left:0;
}
#searchFilter li.tag-holder .search-tag button{
    outline:none;
    background:none;
    border:none;
    padding:0;
}
#searchFilter li.tag-holder .search-tag button:hover{
    color:#de0000;
}
#searchResults{
    position:absolute;
    top:50px;
    right:0;
    bottom:0;
    left:270px;
    overflow:hidden;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchResults.lrg{
    left:0;
}
#searchResults.without-top{
    top:0;
}
#searchResults.big{
    left:250px;
}
#searchResults .progress{
    height:3px;
    border-radius:0;
    box-shadow:none;
    background:#5851c4;
    margin:0;
    position:fixed;
    top:50px;
    left:0;
    right:0;
    z-index:100;
}
#searchResults.without-top .progress{
    top:0;
}
#searchResults .progress .indeterminate{
    background:#5297FC;
}
#searchResults .filler {
    position: absolute;
    height: 330px;
    width: 300px;
    background: #fff;
    top: 50%;
    left: 50%;
    margin: -165px 0 0 -150px;
    border: 1px solid #D7E3E6;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.08) 0 2px 3px;
    text-align: center;
    padding: 0 20px;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#searchResults .filler img{
    margin:40px 0 10px 0;
}
#searchResults .filler i{
    margin:40px 0 10px 0;
    font-size:100px;
    color:#D7E3E6;
}
#searchResults .filler h1{
    font-size:25px;
    font-family:'Open Sans', sans-serif;
    font-weight:100;
    margin-top:15px;
}
#searchResults .filler h1 b{
    color:#5851c4;
}
#searchResults .results-tbl{
    background:#fff;
    width:100%;
}
#searchResults .results-tbl ul{
    display:table;
    width:100%;
    min-width:1000px;
    margin:0;
}
#searchResults .results-tbl ul li{
    display:table-cell;
}
#searchResults .results-tbl ul.title{
    position:absolute;
    z-index:100;
    left:0;
    right:0;
    top:0;
}
#searchResults .results-tbl ul.title li {
    position:relative;
    font-size: 13px;
    padding: 10px 25px 10px 15px;
    border-right: 1px solid #E7EAF0;
    border-bottom: 1px solid #DFE2EA;
    background: #F4F5F8;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight:bold;
    height:40px;
}
#searchResults .results-tbl ul.title li:hover{
    color:#120038;
}
#searchResults .results-tbl ul.title li.sorting::after {
    content: "\f13a";
    font: normal normal normal 24px/1 MaterialDesignIcons;
    font-size: 16px;
    position: absolute;
    right: 8px;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
#searchResults .results-tbl ul.title li.sorting.reverse::after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
#searchResults .results-tbl .list-container{
    position:absolute;
    top:40px;
    left:0;
    right:0;
    bottom:0;
    background:#fff;
}
#searchResults .results-tbl ul.list li{
    display:table-cell;
    font-size:13px;
    padding:10px;
    border-right:1px solid #E7EAF0;
}
#searchResults .results-tbl ul.list:nth-child(even) li {
    background:#F5F6F8;
    border-radius:0;
}
#searchResults .results-tbl ul.list li b{
    font-weight:100;
    height:23px;
    width:23px;
    line-height:23px;
    color:#fff;
    display:block;
    margin:auto;
    border-radius:100%;
    background:#53b529;
}
#searchResults .results-tbl ul.list li b.c{
    background:#f5a500;
}
#searchResults .results-tbl ul.list li b.d{
    background:#5851c4;
}
#searchResults .results-tbl ul.list li span {
    border-bottom: 1px dotted #AFB8BF;
    padding-bottom: 3px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#searchResults .results-tbl ul.list li span:hover{
    border-color:#399BFE;
    color:#2d7ef3;
    cursor:pointer;
}
#searchResults .results-tbl ul.list li button {
    border: 1px solid transparent;
    width: 30px;
    height: 25px;
    display: block;
    margin: auto;
    border-radius: 2px;
    background: none;
    font-size: 16px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
#searchResults .results-tbl ul.list li button:hover{
    border-color:#5297FC;
    background:#fff;
    color:#5297FC;
    cursor:pointer;
    box-shadow:rgba(0,0,0,0.1) 0 1px 2px;
}
#searchResults .people-list{
    text-align:center;
}
#searchResults .people-list > li{
    outline:none;
    display:inline-block;
    vertical-align:top;
    height: 135px;
    width: 280px;
    background: #fff !important;
    border: 1px solid #D4D9DF;
    border-radius: 2px;
    box-shadow: rgba(0,0,0,0.04) 0 2px 3px;
    margin:15px;
    padding: 10px;
    position:relative;
}
#searchResults .people-list > li.active{
    z-index:400;
}
#searchResults .people-list > li:hover{
    box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    border-color:#ddd;
}
#searchResults .people-list > li::after {
    content: '';
    height: 45px;
    width: 6px;
    position: absolute;
    left: -6px;
    top: 50%;
    margin-top: -20px;
    border-radius: 2px 0 0 2px;
    opacity: 0.4;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchResults .people-list > li:hover::after{
    opacity:1;
}
#searchResults .people-list > li.blue::after{
    background:#4B89DC;
}
#searchResults .people-list > li.green::after{
    background:#67C50B;
}
#searchResults .people-list > li.orange::after{
    background:#F6BB42;
}
#searchResults .people-list > li.red::after{
    background:#E9573E;
}
#searchResults .people-list > li .img-left{
    height:72px;
    width:72px;
    float:left;
    position:relative;
    margin:20px auto;
}
#searchResults .people-list > li .img-holder{
    height:72px;
    width:72px;
    overflow:hidden;
}
#searchResults .people-list > li img{
    height:72px;
    width:72px;
}
#searchResults .full-checker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.3);
    border: 1px solid transparent;
    font-size: 25px;
    z-index: 100;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchResults .full-checker b{
    height:50px;
    width:50px;
    line-height:50px;
    border-radius:100%;
    background:#5297FC;
    display:none;
    color:#fff;
    border:2px solid #fff;
    position:relative;
    z-index:101;
    box-shadow:#5297FC 0 2px 1px, #5297FC 0 -2px 1px, #5297FC -2px 0 1px, #5297FC 2px 0 1px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchResults .full-checker:hover{
    background: rgba(255,255,255,0.6);
}
#searchResults .full-checker.selected{
    border:1px solid #53b529;
}
#searchResults .full-checker:hover b{
    display:inline-block;
}
#searchResults .full-checker.selected b{
    display:inline-block;
    box-shadow:#53b529 0 2px 1px, #53b529 0 -2px 1px, #53b529 -2px 0 1px, #53b529 2px 0 1px;
    background:#53b529;
}
#searchResults .surrounded-check{
    position:absolute;
    bottom:-3px;
    right:-10px;
    height:34px;
    width:34px;
    border-radius:100%;
    background:#64C70C;
    text-align:center;
    border:4px solid #fff;
}
#searchResults .surrounded-check > div{
    height:20px;
    width:20px;
    line-height:20px;
    margin:3px 0 0 3px;
    border-radius:100%;
    color:#fff;
    border:1.5px solid #fff;
    text-align:center;
}
#searchResults .people-list > li .basic-info{
    float:left;
    margin:10px 0 0 10px;
    border-left:1px solid #D8D8D8;
    height:85px;
    width:135px;
    padding-left: 10px;
}
#searchResults .people-list > li .basic-info .buttons{
    text-align:left;
    display:block;
    margin-top:10px;
}
#searchResults .people-list > li .basic-info .buttons button {
    outline: none;
    background: none;
    border: none;
    font-size: 23px;
    padding: 0;
    color: #CBD0D6;
    height: 22px;
    width: 22px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchResults .people-list > li.active .basic-info .buttons button.detailsShower {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color:#5297FC;
}
#searchResults .people-list > li .basic-info .buttons button.bordered{
    border:2px solid #cbd0d6;
    border-radius:100%;
    font-size:16px;
    line-height:2px;
    text-align:center;
}
#searchResults .people-list > li .basic-info .buttons button:hover{
    color:#53b529;
    border-color:#53b529;
}
#searchResults .people-list > li h1{
    font-family:'Open Sans', sans-serif;
    font-weight:100;
    margin:0;
    padding:0;
    text-align:left;
}
#searchResults .people-list > li h1.name {
    font-size: 13px;
    font-weight: bold;
    color: #364042;
    margin-bottom: 5px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
#searchResults .people-list > li h1.title,
#searchResults .people-list > li h1.department{
    font-size:13px;
    font-weight:400;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
#searchResults .people-list > li h1.department{
    margin-top:3px;
    color:#41B1F7;
}
#searchResults .people-list > li .card-reveal {
    overflow: hidden;
    padding: 10px 0;
    position: absolute;
    width: 300px;
    top: 137px;
    left: -1px;
    z-index: 1400;
    background: #FBFBFD;
    border: 1px solid #D4D9DF;
    border-top-color: #EFF0F4;
    border-radius: 0 0 4px 4px;
}
#searchResults .people-list > li .card-reveal span i{
    position:absolute;
    top:8px;
    right:10px;
}
#searchResults .people-list > li .card-reveal > ul{
    position:relative;
    height:240px;
    padding:0 20px 10px 20px;
}
#searchResults .people-list > li .card-reveal > ul > li {
    margin-bottom:10px;
}
#searchResults .people-list > li .card-reveal > ul > li > h1{
    text-align:left;
    font-size:14px;
    font-weight:400;
}
#searchResults .people-list > li .card-reveal > ul > li > h1 span{
    font-weight:200;
    margin-left:5px;
}
#searchResults .people-list > li .card-reveal > ul > li > ul {
    margin-top:10px;
}
#searchResults .people-list > li .card-reveal > ul > li > ul > li{
    list-style-type:circle;
    margin:0 15px 0 18px;
}
#searchResults .people-list > li .card-reveal > ul > li > ul > li > h1{
    text-align:left;
    font-size:13px;
    font-weight:200;
    color:#5851c4;
}
#searchResults .people-list > li .card-reveal .ps-container > .ps-scrollbar-y-rail{
    width:5px;
}
#searchResults .people-list > li .card-reveal .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{
    width:5px;
}
#searchResults .project-list{
    text-align:center;
}
#searchResults .project-list > li{
    position:relative;
    text-align:left;
    display:inline-block;
    vertical-align:top;
    width:300px;
    background:#fff;
    margin:10px;
    box-shadow:rgba(0,0,0,0.1) 0 1px 2px;
    border-radius:2px;
    border: 1px solid #D4D9DF;
}
#searchResults .project-list > li .details {
    padding:20px;
}
#searchResults .project-list > li .top .status,
#searchResults .project-list > li .top .priority{
    font-size:10px;
    margin:0;
    font-weight:400;
    text-transform:uppercase;
    color:#AFB8BF;
    letter-spacing:1px;
}
#searchResults .project-list > li .top .status b{
    text-transform:none;
    font-weight:bold;
    color:#888;
    margin-left:4px;
}
#searchResults .project-list > li .top .priority{
    color:#c80000;
}
#searchResults .project-list > li .top .priority.none { color:#AFB8BF;}
#searchResults .project-list > li .top .priority.low { color:#399BFE;}
#searchResults .project-list > li .top .priority.medium { color:#F6BB42;}
#searchResults .project-list > li .top .priority.High { color:#f35900;}

#searchResults .project-list > li .title{
    font-size:16px;
    color:#58657E;
    margin:10px 0 0 0;
}
#searchResults .project-list > li .client{
    font-size:13px;
    color:#2f343d;
    margin:10px 0 0 0;
}
#searchResults .project-list > li .summary{
    display: table;
    table-layout: fixed;
    width:100%;
    border-top:1px solid #EBEFF2;
    background:#FAFBFD;
}
#searchResults .project-list > li .summary li {
    display: table-cell;
    text-align:center;
    padding:10px;
    position:relative;
}
#searchResults .project-list > li .summary li:not(:last-child):after{
    content:"|";
    font-size:20px;
    position:absolute;
    right:0;
    top:8px;
    color:#d0d2d4;
}
#searchResults .project-list > li .summary li i,
#searchResults .project-list > li .summary li span{
    font-size:16px;
    vertical-align:top;
    display:inline-block;
}
#searchResults .project-list > li .summary li i{
    color:#57637D;
    margin:3px 3px 0 0;
}
#searchResults .project-list > li .summary li span{
    margin:0;
    font-weight:bold;
}
#searchResultsOptions{
    height:50px;
    float:left;
    padding:0 20px;
}
.sml > #searchResultsOptions{
    left:250px;
}
#searchResultsOptions .options{
    margin-top:5px;
    display:inline-block;
}
#searchResultsOptions .options label{
    font-size:13px;
    display:inline-block;
    font-weight:bold;
    color:#888;
    margin:12px 10px 0 0;
    vertical-align:top;
}
#searchResultsOptions .options select{
    min-width:130px;
}
#searchResultsOptions .options .select2-container--default .select2-selection--single{
    margin-top:2px;
}
#searchResults .task-list{
    text-align:center;
}
#searchResults .task-list > li{
    display:inline-block;
    vertical-align:top;
    width: 335px;
    background: #fff !important;
    border: 1px solid #D4D9DF;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.04) 0 2px 3px;
    margin:15px 0 0 18px;
    position:relative;
}
#searchResults .task-list > li .title{
    border-bottom:1px solid #EFF0F5;
    padding:20px;
    text-align:left;
}
#searchResults .task-list > li .title h1{
    font-size:20px;
    text-align:left;
    display:inline-block;
    width:220px;
    font-weight:200;
    margin:0;
    margin-left:10px;
}
#searchResults .task-list > li .title .box-pop {
    display:inline-block;
    vertical-align:top;
    height:25px;
    width:25px;
    line-height:25px;
    text-align:center;
    color:#fff;
    border-radius:2px;
    background:none;
    position:relative;
    margin-left:-5px;
    cursor:pointer;
    outline:none;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#searchResults .task-list > li .title .box-pop span {
    -moz-transition: background 0s 0.3s;
    -o-transition: background 0s 0.3s;
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
    display: block;
    position: absolute;
    top: 12px;
    left: 4px;
    right: 18px;
    width:16px;
    height: 2px;
    background: #399BFE;
}

#searchResults .task-list > li .title .box-pop span::before,
#searchResults .task-list > li .title .box-pop span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #399BFE;
    content: "";
    -moz-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -moz-transition-delay: 0.3s, 0s;
    -o-transition-delay: 0.3s, 0s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
}

#searchResults .task-list > li .title .box-pop span::before {
    -moz-transition-property: top, transform;
    -o-transition-property: top, transform;
    -webkit-transition-property: top, transform;
    transition-property: top, transform;
    top: -5px;
}

#searchResults .task-list > li .title .box-pop span::after {
    -moz-transition-property: bottom, transform;
    -o-transition-property: bottom, transform;
    -webkit-transition-property: bottom, transform;
    transition-property: bottom, transform;
    bottom: -5px;
}

#searchResults .task-list > li .title .box-pop.active span {
  background: none;
}

#searchResults .task-list > li .title .box-pop.active span::before {
    top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#searchResults .task-list > li .title .box-pop.active span::after {
    bottom: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#searchResults .task-list > li .title .box-pop.active span::before,
#searchResults .task-list > li .title .box-pop.active span::after {
    -moz-transition-delay: 0s, 0.3s;
    -o-transition-delay: 0s, 0.3s;
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
}
#searchResults .task-list > li .title .box-pop:not(.active):hover span,
#searchResults .task-list > li .title .box-pop:hover span::before,
#searchResults .task-list > li .title .box-pop:hover span::after{
    background:#5851c4;
}
#searchResults .task-list > li .title .box-pop ul {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    text-align: center;
    background: #5851c4;
    border-radius: 2px;
    z-index: 100;
    padding:5px 0;
    box-shadow: rgba(0,0,0,0.15) 0 2px 3px;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
#searchResults .task-list > li .title .box-pop ul::after{
    position:absolute;
    top:-5px;
    left:50%;
    margin-left:-6px;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 5px 6px;
    border-color: transparent transparent #5851c4 transparent;
}
#searchResults .task-list > li .title .box-pop ul li button{
    background:none;
    border:none;
    margin:0;
    height:35px;
    padding:0;
    width:100%;
}
#searchResults .task-list > li .title .box-pop ul li button:hover{
    background:#5297FC;
}
#searchResults .task-list > li > h1{
    display:block;
    font-size:13px;
    text-align:left;
    font-weight:400;
    color:#575b63;
    border-bottom:1px solid #EFF0F5;
    margin:0;
    padding:10px 20px;
    position:relative;
}
#searchResults .task-list > li > h1.project::after{
    position:absolute;
    content:'';
    left:-5px;
    width:5px;
    top:0;
    bottom:0;
    background:#e20000;
}
#searchResults .task-list > li > h1.project.Processing::after{
    background:#F6BB42;
}
#searchResults .task-list > li > h1.project.Active::after{
    background:#399BFE;
}
#searchResults .task-list > li > h1.project.Completed::after{
    background:#53b529;
}
#searchResults .task-list > li > h1.project.Closed::after{
    background:#53b5bf;
}
#searchResults .task-list > li > h1 b,
#searchResults .task-list > li .details h1 b{
    font-weight:bold;
    color:#111;
}
#searchResults .task-list > li .details{
    background:#FBFBFD;
    padding:20px;
}
#searchResults .task-list > li .details h1{
    margin:0;
    font-size:13px;
    font-weight:400;
    color:#575b63;
}
#searchResults .task-list > li .details .description h1,
#searchResults .task-list > li .details .description h2,
#searchResults .task-list > li .details .description h3{
    font-size:13px;
}
#searchResults .task-list > li .details .description p{
    text-align:left;
    font-size:13px;
}
#searchResults .task-list > li .details h1 i{
    margin-right:8px;
}
#searchResults .task-list > li .details h1.Medium i{
    color:#e9a400;
}
#searchResults .task-list > li .details h1.High i{
    color:#e94e00;
}
#searchResults .task-list > li .details h1.Low i{
    color:#e9cf00;
}

/*---- ui ----*/
.rk-checkbox {
    border-radius: 2px;
    box-shadow: inset rgba(0,0,0,0.15) 0 -1px 2px, rgba(0,0,0,0.1) 0 1px 2px;
    outline: none;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.rk-checkbox span{
    vertical-align:top;
    margin-top:3px;
    color:#eee;
}
.rk-checkbox:hover{
    background:#399BFE;
    border-color:#399BFE;
}
.rk-checkbox:hover span{
    color:#fff;
}
.rk-checkbox.checked{
    background:#53b529;
    color:#fff;
    border-color:#53b529;
}
.rk-checkbox:disabled{
    box-shadow:inset rgba(0,0,0,0.1) 0 1px 2px;
    background:#f2f2f2 !important;
}
.rk-switch, .rk-switch:focus, .rk-switch:active, .rk-switch:hover {
    outline:none !important;
    display: inline-block;
    height: 15px;
    margin:5px 0;
    width: 40px;
    padding: 0;
    border-radius: 30px;
    position: relative;
    background: #d71919;
    border:1px solid #b00000;
    box-shadow: inset rgba(0,0,0,0.1) 0 1px 2px, rgba(0,0,0,0.4) 0 0 2px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.rk-switch i{
    font-size:16px;
    color:#fff;
}
.rk-switch i.pull-right{
    margin-right:5px;
}
.rk-switch i.pull-left{
    margin-left:5px;
}
.rk-switch span {
    outline:none;
    height: 25px;
    width: 25px;
    position: absolute;
    z-index:100;
    top: 50%;
    left: -2px;
    margin-top:-12.5px;
    border-radius: 100%;
    display: block;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: rgba(0,0,0,0.1) 1px 0 2px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.rk-switch:hover span{
    box-shadow:rgba(0,0,0,0.2) 0 0 5px;
    border:1px solid #aaa;
}
.rk-switch.on{
    background:#53b529;
    border-color:#31a101;
}
.rk-switch.on span{
    left:15px;
}
rzslider{
    margin-top: 0;
}
rzslider .rz-bubble{
    display:none;
}
rzslider .rz-pointer {
    height: 20px;
    width: 20px;
    top: 50%;
    margin-top: -10px;
    outline: none;
    box-shadow:inset rgba(0,0,0,0.2) 0 -2px 3px, rgba(0,0,0,0.4) 0 1px 2px;
    -moz-transition: border 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out;
    -webkit-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    background:#399BFE;
}
rzslider .rz-pointer.rz-active:active{
    background:#53b529;
    border:3px solid #fff;
    box-shadow:rgba(0,0,0,0.2) 0 2px 3px;
}
rzslider .rz-pointer::after{
    content:none;
}
rzslider .rz-bar.rz-selection{
    background:#399BFE;
    box-shadow:inset rgba(255,255,255,0.3) 0 1px 2px;
}
.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above,
.select2-drop-active{
    border-radius:0 0 2px 2px;
    box-shadow:rgba(0,0,0,0.06) 0 1px 2px;
}
.select2-container--open .select2-dropdown--above{
    border-radius:2px 2px 0 0;
    box-shadow:rgba(0,0,0,0.06) 0 -1px 2px;
}
.select2-results{
    margin:0;
    padding:0;
}
.select2-results__option,
.ui-select-choices-row,
.select2-results li{
    border-top:1px solid #ddd;
    color:#111;
}
.select2-results__option:last-child,
.select2-results li:last-child{
    border-bottom:none;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-results .select2-highlighted{
    background:#f0f0f0;
    color:#111;
}
.inner-overlay{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1000;
    background:rgba(255,255,255,0.8);
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.inner-overlay > i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    font-size: 30px;
    color: #AFB8BF;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
/* cke */
.cke_top{
    background:#FBFBFB !important;
    border-bottom:1px solid #D8D8D8 !important;
    padding:6px 0 !important;
}
.cke_bottom{
    background:#FBFBFB !important;
    border-top:1px solid #D8D8D8 !important;
}
.cke_chrome{
    border-color:#D8D8D8 !important;
    border-radius:2px;
    box-shadow:rgba(0,0,0,0.1) 0 1px 2px !important;
}
.cke_toolgroup{
    background:none !important;
    border:none !important;
    border-radius:0 !important;
}
a.cke_button_off:hover, 
a.cke_button_off:focus, 
a.cke_button_off:active{
    background:#5297FC !important;
    box-shadow:rgba(0,0,0,0.1) 0 1px 2px !important;
    cursor:pointer;
}
a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active{
    background:none !important;
    box-shadow:none !important;
    border:none !important
}
a.cke_button, .cke_ltr .cke_button:first-child, .cke_rtl .cke_button:last-child{
    border-radius: 2px !important;
    margin: 3px 3px 0 3px !important;
}
.cke_button span{
    background-image:none !important;
    position:relative;
}
.cke_button span:after {
    font: normal normal normal 24px/1 "Material Design Icons";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f359";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -14px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 28px;
    color:#444;
}
a.cke_button_off:hover span::after, 
a.cke_button_off:focus span::after, 
a.cke_button_off:active span::after{
    color:#fff;
}
.cke_button__italic span::after{
    content: "\f36c";
}
.cke_button__underline span::after{
    content: "\f37c";
}
.cke_button__strike span::after{
    content: "\f375";
}
.cke_button__subscript span::after{
    content: "\f377";
}
.cke_button__superscript span::after{
    content: "\f378";
}
.cke_button__removeformat span::after{
    content: "\f319";
}
.cke_button__numberedlist span::after{
    content: "\f370";
}
.cke_button__bulletedlist span::after{
    content: "\f36e";
}
.cke_button__outdent span::after{
    content: "\f36a";
}
.cke_button__indent span::after{
    content: "\f36b";
}
.cke_button__blockquote span::after{
    content: "\f373";
}
.cke_button__maximize span::after{
    content: "\f149";
}
.cke_button__justifyleft span::after{
    content: "\f357";
}
.cke_button__justifyright span::after{
    content: "\f358";
}
.cke_button__justifycenter span::after{
    content: "\f355";
}
.cke_button__justifyblock span::after{
    content: "\f356";
}
a.cke_button_on{
    background:#5851c4 !important;
    box-shadow:inset rgba(0,0,0,0.2) 0 0 3px !important;
}
a.cke_button_on span::after{
    color:#fff !important;
    text-shadow:rgba(0,0,0,0.6) 0 1px 2px;
}
.cke_combo_button{
    border-radius:2px !important;
    background:#fff !important;
    border-color:#D8D8D8 !important;
    margin-top:2px !important;
}
.cke_combo_open{
    position:relative !important;
}
.cke_combo_open::after{
    position:absolute;
    top:4px;
    right:-5px;
    content: "\f236";
    font: normal normal normal 16px/1 "Material Design Icons";
    color:#888;
}
.cke_combo_arrow{
    border:none !important;
}
.cke_combo_text{
    font-family:'Open Sans', sans-serif;
}
.cke_combo_off a.cke_combo_button:hover{
    box-shadow:rgba(0,0,0,0.05) 0 1px 2px !important;
    border-color:#AFB8BF !important;
    cursor:pointer !important;
}
.cke_combo_off a.cke_combo_button:active, .cke_combo_on a.cke_combo_button{
    border-color:#5297FC !important;
    box-shadow:rgba(82, 151, 252, 0.20) 0 1px 2px !important;
}
.cke_contents html{
    font-family:'Open Sans', sans-serif !important;
}
.cke_panel{
    border-radius:0 !important;
}
.cke_combopanel{
    height:160px !important;
}

.bootstrap-timepicker-widget.dropdown-menu.open{
    z-index:300;
}
.bootstrap-timepicker-widget table td input{
    font-size:14px;
    border:none;
}
.bootstrap-timepicker-widget table td span{
    color:#888;
}
.bootstrap-timepicker-widget table td span.bootstrap-timepicker-hour,
.bootstrap-timepicker-widget table td span.bootstrap-timepicker-minute,
.bootstrap-timepicker-widget table td span.bootstrap-timepicker-meridian{
    color:#444;
}
.bootstrap-timepicker-widget table td a{
    padding:5px 0;
}
.bootstrap-timepicker-widget table td a:hover{
    background:#399BFE;
    border-color:#5297FC;
    border-radius:2px;
    color:#fff;
}
.bootstrap-timepicker-widget table td a:hover span{
    color:#fff;
}
.datepicker{
    padding:8px;
}
.datepicker > div thead{
    border-bottom:none;
}
.datepicker table tr td{
    padding:2px;
}
.datepicker table tr td b {
    border-radius: 100%;
    border: 2px solid #dbdbdb;
    text-align: center;
    width: 33px;
    height: 33px;
    line-height: 29px;
    display: block;
    color: #717C86;
    font-weight: 600;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.datepicker table tr td.old b, .datepicker table tr td.new b{
    color:#b1b1b1;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused{
    background:none;
}
.datepicker table tr td.day:hover b, .datepicker table tr td.day.focused b{
    border-color:#5851c4;
    color:#5851c4;
}
.datepicker table tr td.selected, 
.datepicker table tr td.active.active,
.datepicker table tr td.range{
    background:none;
}
.datepicker table tr td.selected b,
.datepicker table tr td.active.active b, 
.datepicker table tr td.range b{
    border-color:#2283e4;
    color:#2283e4;
}
.datepicker table tr td.selected b, .datepicker table tr td.active.active.selected b{
    background:#5297FC;
    color:#fff;
}
.datepicker table tr td.selected:hover, .datepicker table tr td.selected:hover:hover,
td.active.active, .datepicker table tr td.active.active:hover{
    background:none;
}
td.active.active, .datepicker table tr td.active.active:hover b,
.datepicker table tr td.selected:hover b, .datepicker table tr td.selected:hover:hover b{
    color:#53b529;
    border-color:#53b529;
}
td.active.active, .datepicker table tr td.active.active.selected:hover b,
.datepicker table tr td.selected:hover b, .datepicker table tr td.selected:hover:hover b{
    background:#5fcc2f;
    color:#fff;
}
.datepicker table tr td.disabled b, .datepicker table tr td.disabled:hover b{
    border-color:#f6f6f6;
    color:#D8D8D8;
}
.datepicker thead tr th.next, .datepicker thead tr th.prev{
    color:#fff;
    position:relative;
}
.datepicker thead tr th.next:hover, .datepicker thead tr th.prev:hover{
    background:none;
}
.datepicker thead tr th.next::after, .datepicker thead tr th.prev::after{
    position:absolute;
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\f14a";
    color:#DADBDF;
    font-size:22px;
    text-align:center;
    height:24px;
    width:24px;
    top:50%;
    left:50%;
    margin:-12px 0 0 -12px;
}
.datepicker thead tr th.next::after{
    content: "\f14f";
}
.datepicker thead tr th.next:hover::after, .datepicker thead tr th.prev:hover::after{
    color:#949CA3;
}
.datepicker .datepicker-switch,
.datepicker table tr td span {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.datepicker table tr td span.active.active{
    background:#5851c4;
}
.datepicker table tr td span.active.active:hover{
    background:#53b529;
}
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover{
    background:none;
}
.datepicker .datepicker-switch:hover{
    color:#5851c4;
    font-weight:bold;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* comparers */
.big-comparer-holder{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:#fff;
    z-index:1000;
}
.big-comparer-holder .divider{
    position:absolute;
    width:6px;
    left: 50%;
    top:0;
    bottom:0;
    margin-left:-3px;
    background:#fff;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    z-index:1000;
    box-shadow:rgba(0,0,0,0.05) 2px 0 3px, rgba(0,0,0,0.05) -2px 0 3px;
}
.big-comparer-holder .chart-holder{
    position:absolute;
    left:50%;
    top:50%;
    margin:-200px 0 0 -200px;
    z-index:1002;
}
.comparer-switcher{
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:50px;
    border-bottom:1px solid #ccc;
    background:#fff;
    z-index:1002;
}
.big-comparer {
    position:absolute;
    background:white;
    top:50px;
    bottom:0;
    padding:0;
    z-index:999;
}
.big-comparer.left{
    left:0;
    right:50%;
}
.big-comparer.right{
    left:50%;
    right:0;
}
.big-comparer .details{
    border-bottom:1px solid #ccc;
    box-shadow:rgba(0,0,0,0.1) 0 1px 2px;
    padding:15px;
    position:relative;
}
.big-comparer .details h1{
    margin:0;
    font-size:16px;
    color:#888;
}
.big-comparer .details h1 b{
    margin-left:10px;
    color:#444;
}
.big-comparer .img-holder{
    position:absolute;
    right:15px;
    top: 15px;
    height:60px;
    width:60px;
    overflow:hidden;
    border-radius:4px;
    border:1px solid #AFB8BF;
    background:#fff;
    box-shadow:rgba(0, 0, 0, 0.20) 0 0 4px;
}
.big-comparer .img-holder img{
    height:60px;
    width:60px;
}

/* person card */
.person-card {
    position: absolute;
    z-index: 1200;
    width: 500px;
    height: 550px;
    top: 50%;
    left: 50%;
    margin: -275px 0 0 -250px;
    background: none;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.person-card .top{
    width:100%;
    height:180px;
    position:relative;
    background:#5851c4;
    border-radius:5px;
    box-shadow:rgba(0,0,0,0.3) 0 2px 3px, inset rgba(0,0,0,0.2) 0 -3px 5px;
}
.person-card .top > button{
    position:absolute;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background:none;
    border:none;
    font-size:25px;
    color:rgba(255, 255, 255, 0.50);
    opacity:1;
}
.person-card .top .options{
    left:0;
    top:5px;
}
.person-card .top .close{
    right:6px;
    top:5px;
    text-shadow:none;
    outline:none;
}
.person-card .top > button:hover{
    color:#fff;
}
.person-card .top .img-holder{
    position:absolute;
    left:50%;
    margin:-45px 0 0 -45px;
    width:90px;
    height:90px;
    border-radius:100%;
    overflow:hidden;
    box-shadow:rgba(0,0,0,0.3) 0 0 3px;
    background:#fff;
    text-align:center;
}
.person-card .top .img-holder img{
    height:95px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-46px 0 0 -47.5px;
}
.person-card .top .info{
    padding:50px 20px 0 20px;
}
.person-card .top .info h1,
.person-card .top .info h2{
    text-align:center;
    margin:0;
    font-size:15px;
    color:#fff;
    font-family:'Open Sans', sans-serif;
    font-weight:100;
}
.person-card .top .info h2{
    font-weight:bold;
    font-family:'Proxima Nova', sans-serif;
    margin-top:10px;
}
.person-card .top .info .detail-group{
    display:block;
    width:100%;
    padding:0 30px;
    margin:10px auto;
    text-align:center;
}
.person-card .top .info .detail-group h3{
    font-size:15px;
    color:rgba(255, 255, 255, 0.70);
    margin:0;
    display:inline-block;
}
.person-card .top .info .detail-group h3:first-child{
    margin-right:10px;
}
.person-card .top .info .detail-group h3 b{
    margin-right:5px;
    color:#fff;
}
.person-card .top .tabs-nav{
    display:block;
    text-align:center;
    margin-top:25px;
    color:rgba(255,255,255,0.4);
    outline:none;
}
.person-card .top .tabs-nav button {
    background: none;
    border: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight:bold;
    display:inline-block;
    vertical-align:bottom;
    position:relative;
    height:22px;
    outline:none;
}
.person-card .top .tabs-nav button:hover,
.person-card .top .tabs-nav button.active {
    color:#fff;
    text-shadow:rgba(0,0,0,0.7) 0 1px 2px;
}
.person-card .top .tabs-nav button::after{
    content:"";
    opacity:0;
    height:8px;
    width:8px;
    border-radius:100%;
    background:#399BFE;
    position:absolute;
    left:50%;
    top:-8px;
    margin-left:-5px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow:rgba(0,0,0,0.3) 0 1px 3px, inset rgba(255,255,255,0.3) 0 1px 0;
}
.person-card .top .tabs-nav button:hover::after{
    opacity:1;
}
.person-card .top .tabs-nav button.active::after{
    opacity:1;
    background:#53b529;
    border-radius:0;
    width:100%;
    height:3px;
    left:0;
    top:-5px;
    margin-left:0;
}
.person-card .bottom{
    max-height:370px;
    width:470px;
    margin:auto;
    background:#fff;
    border-radius:0 0 5px 5px;
    box-shadow:rgba(0,0,0,0.2) 0 2px 3px;
    border:1px solid #ddd;
    border-bottom:none;
    overflow:hidden;
}
.person-card .bottom .tab-content-holder-inner{
    width:9999px;
    height:100%;
}
.person-card .bottom .tab-content-holder-inner .tab-content{
    padding:20px 30px;
    width:470px;
    height:0;
    overflow:hidden;
    display:inline-block;
    vertical-align:top;
}
.person-card .bottom .tab-content-holder-inner .tab-content.active{
    height:auto;
    overflow:auto;
}
.person-card .bottom .tab-content table{
    width:100%;
}
.person-card .bottom .tab-content table tr td{
    min-width:50%;
    padding:20px 0 10px 0;
    border-bottom:1px solid #E2E2E2;
}
.person-card .bottom .tab-content table tr:last-child td{
    border-bottom:none;
}
.person-card .bottom .tab-content table tr:first-child td{
    padding-top:0;
}
.person-card .bottom .tab-content table label{
    font-size:14px;
    font-weight:100;
}
.person-card .bottom .tab-content table h1{
    margin:0;
    font-size:14px;
}
.person-card .bottom .familiar{
    width:100%;
}
.person-card .bottom .familiar li{
    border-bottom:1px solid #ddd;
    width:100%;
}
.person-card .bottom .familiar li.title h1{
    font-weight:bold;
    margin:0 0 10px 0;
    color:#555;
}
.person-card .bottom .familiar h1{
    font-size:14px;
    display:inline-block;
    vertical-align:top;
}
.person-card .bottom .familiar h1 b{
    color:#399BFE;
    text-shadow:rgba(0,0,0,0.2) 0 1px 2px;
}

/* loading bar */
.load-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #5297FC;
}
.load-bar.pageLoader{
    top:0;
    position:fixed;
    z-index:1002;
}
.bar {
    width: 0;
    height: 100%;
    content: "";
    display: inline;
    position: absolute;
    left: 50%;
    text-align: center;
}
.bar:nth-child(1) {
    background-color: #53b529;
    -moz-animation: loading 3s linear infinite;
    -o-animation: loading 3s linear infinite;
    -webkit-animation: loading 3s linear infinite;
    animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
    background-color: #5851c4;
    -moz-animation: loading 3s linear 1s infinite;
    -o-animation: loading 3s linear 1s infinite;
    -webkit-animation: loading 3s linear 1s infinite;
    animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
    background-color: #5297FC;
    -moz-animation: loading 3s linear 2s infinite;
    -o-animation: loading 3s linear 2s infinite;
    -webkit-animation: loading 3s linear 2s infinite;
    animation: loading 3s linear 2s infinite;
}
@-moz-keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

@-webkit-keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}