﻿@{
    Layout = null;
}

<div class="rekrut-modal animated slideInDown">
    <div class="inner-overlay" ng-if="saving">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <i class="mdi mdi-clock animated shake"></i>
    </div>
    <h1 class="title">Add new Project</h1>
    <div class="modal-tabs">
        <button class="active"><i class="mdi mdi-book-open-variant"></i>Details</button>
        <button><i class="mdi mdi-google-circles-extended"></i>Team</button>
    </div>
    <form novalidate name="form">
        <div class="inner">
            <div class="tab-content-holder">
                <div class="tab-content-holder-inner">
                    <div class="tab-content active">
                        <div class="inline-input">
                            <label for="title">Title</label>
                            <input type="text" id="title" ng-model="project.title" class="full" required />
                        </div>
                        <div class="inline-input-holder">
                            <div class="inline-input">
                                <label for="title">Abbreviation</label>
                                <input type="text" id="client" ng-model="project.abbreviation" class="sml" required />
                            </div>
                            <div class="inline-input">
                                <label for="title">Client</label>
                                <input type="text" id="client" ng-model="project.client" class="med" required />
                            </div>
                            <div class="inline-input">
                                <label for="project">Priority</label>
                                <select ng-model="project.priority" ng-options="priority.value as priority.name for priority in priorities"></select>
                            </div>
                        </div>
                        <div class="inline-input-holder">
                            <div class="inline-input">
                                <label for="project">Status</label>
                                <select ng-model="project.status" ng-options="status.value as status.name for status in statuses"></select>
                            </div>
                            <div class="inline-input">
                                <label for="project">Difficulty</label>
                                <select ng-model="project.difficulty" ng-options="difficulty.value as difficulty.name for difficulty in difficulties"></select>
                            </div>
                            <div class="inline-input">
                                <label for="project">Type</label>
                                <select ng-model="project.type" ng-options="type.value as type.name for type in types"></select>
                            </div>
                        </div>
                        <div class="inline-input-holder">
                            <div class="inline-input">
                                <label for="title">Manager</label>
                                <input type="text" id="manager" ng-model="project.manager" class="med" required />
                            </div>
                            <div class="inline-input">
                                <div class="input-daterange">
                                    <div class="inline-input with-icon">
                                        <label for="startDate">Start Date</label>
                                        <i class="mdi mdi-calendar-today"></i>
                                        <input type="text" name="start" id="startDate" readonly ng-model="project.startDate" class="sml with-icon" required />
                                    </div>
                                    <div class="inline-input with-icon">
                                        <label for="dueDate">Due Date</label>
                                        <i class="mdi mdi-calendar"></i>
                                        <input type="text" name="end" id="dueDate" readonly ng-model="project.endDate" class="sml with-icon" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inline-input-holder">
                            <div class="inline-input" style="margin:0;">
                                <label for="description">Description</label>
                                <textarea ck-editor id="description" ng-model="task.description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content clearfix" style="padding:0;">
                        <div class="blocks pull-left left fat-border" style="width:60%;">
                            <div class="search">
                                <select ng-model="field" ng-change="searchChange()" ng-options="field as field.name for field in fields track by field.value">
                                </select>
                                <input type="text" ng-change="searchChange()" ng-model="search" />
                                <div class="dropdown sorter">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="mdi mdi-sort"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><button ng-click="order('firstName')" type="button">First Name<i class="mdi" ng-show="sort === 'firstName'" ng-class="reverse ? 'mdi-sort-descending' : 'mdi-sort-ascending'"></i></button></li>
                                        <li><button ng-click="order('lastName')" type="button">Last Name<i class="mdi" ng-show="sort === 'lastName'" ng-class="reverse ? 'mdi-sort-descending' : 'mdi-sort-ascending'"></i></button></li>
                                        <li><button ng-click="order('projects')" type="button">Projects<i class="mdi" ng-show="sort === 'projects'" ng-class="reverse ? 'mdi-sort-descending' : 'mdi-sort-ascending'"></i></button></li>
                                        <li><button ng-click="order('department')" type="button">Department<i class="mdi" ng-show="sort === 'department'" ng-class="reverse ? 'mdi-sort-descending' : 'mdi-sort-ascending'"></i></button></li>
                                        <li><button ng-click="order('experience')" type="button">Experience<i class="mdi" ng-show="sort === 'experience'" ng-class="reverse ? 'mdi-sort-descending' : 'mdi-sort-ascending'"></i></button></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="selectable-list" ng-if="search.length > 0 && people.length > 0">
                                <div class="inner-overlay" ng-if="searching">
                                    <div class="load-bar">
                                        <div class="bar"></div>
                                        <div class="bar"></div>
                                        <div class="bar"></div>
                                    </div>
                                    <i class="mi mi-clock animated shake"></i>
                                </div>
                                <ul>
                                    <li class="clearfix" ng-repeat="person in people | orderBy:sort:reverse">
                                        <div class="img-holder pull-left">
                                            <img ng-src="{{person.imgUrl}}" />
                                        </div>
                                        <div class="details pull-left">
                                            <h1>
                                                {{person.firstName + ' ' + person.lastName}} | 
                                                <b ng-bind="person.jobTitle"></b>
                                            </h1>
                                            <h2 ng-bind="person.department"></h2>
                                            <div class="counts">
                                                <span>{{person.projects}}<i class="nova-folder-check-1"></i></span>
                                                <span>{{person.experience}}<i class="nova-rewards-medal-1-1"></i></span>
                                            </div>
                                        </div>
                                        <checkbox ng-model="person.added" class="adder" ng-change="addOrRemove(person)"></checkbox>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-placeholder" ng-if="search.length < 1 && people.length < 1">
                                <i class="nova-user-add"></i>
                                <h1>Search for a person by skill or by name to find the right fit for your project.</h1>
                            </div>
                            <div class="modal-placeholder" ng-if="search.length > 0 && people.length < 1 && !searching">
                                <i class="nova-binoculars-1"></i>
                                <h1>We searched, searched and searched but we didn't find anything! Try using another keyword or field.</h1>
                            </div>
                        </div>
                        <div class="blocks pull-left" style="width:40%;">
                            <h1 class="title">Assigned to Project</h1>
                            <ul class="sml-list">
                                <li class="clearfix" ng-repeat="person in addedPeople | orderBy:lastName">
                                    <div class="img-holder pull-left">
                                        <img ng-src="{{person.imgUrl}}" />
                                    </div>
                                    <h1>
                                        {{person.firstName + ' ' + person.lastName}} |
                                    </h1>
                                    <h2 ng-bind="person.jobTitle"></h2>
                                    <button type="button" class="remove" ng-click="removePerson(person)"><i class="mdi mdi-close"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons clearfix">
            <button class="btn cancel pull-right" ng-click="closeProjectScreen($event, form)">Cancel</button>
            <button class="btn save pull-right" ng-click="saveTask($event, form)">Save</button>
        </div>
    </form>
</div>