﻿@{
    Layout = null;
}
<div id="searchFilterHead" class="clearfix">
    <div class="top">
        <h1 class="title pull-left">Projects</h1>
        <button class="toggle" ng-class="{'active': menuSmall}" ng-click="menuSmall = !menuSmall">
            <i class="mdi" ng-class="menuSmall ? 'mdi-menu' : 'mdi-backburger'"></i>
        </button>
    </div>
    <div id="searchResultsOptions">
        <div class="options">
            <label>Sort By</label>
            <select class="browser-default" ng-model="sortBy" ng-options="sort.value as sort.name for sort in sorts"></select>
            <select class="browser-default" ng-model="sortOrder">
                <option value="desc">DESC</option>
                <option value="asc">ASC</option>
            </select>
        </div>
    </div>
</div>
<div id="searchFilter" ng-class="{'sml': menuSmall}" class="with-new-btn">
    <button class="btn create-new" ng-click="createOrUpdateProject('')">Create new Project</button>
    <div class="filter-holder">
        <ul class="filter-list">
            <li class="title-with-field clearfix">
                <h1 class="pull-left">Assigned Only</h1>
                <checkbox switch="true" class="pull-right" ng-model="filter.assignedOnly" ng-change="filterChange()"></checkbox>
            </li>
            <li class="title hidable clearfix">
                TYPE<button class="pull-right" ng-click="hideType = !hideType"><i class="mdi" ng-class="hideType ? 'mdi-eye' : 'mdi-eye-off'"></i></button>
            </li>
            <li class="with-padding" ng-repeat="type in types" ng-show="!hideType">
                <checkbox ng-model="type.checked" id="{{type.name + '_cbx'}}" ng-change="toggleFilterArray('types', type)"></checkbox>
                <label class="for-checkbox" for="{{type.name + '_cbx'}}">{{type.name}}</label>
            </li>
            <li class="title hidable clearfix">
                STATUS<button class="pull-right" ng-click="hideStatus = !hideStatus"><i class="mdi" ng-class="hideStatus ? 'mdi-eye' : 'mdi-eye-off'"></i></button>
            </li>
            <li class="with-padding" ng-repeat="status in statuses" ng-show="!hideStatus">
                <checkbox ng-model="status.checked" id="{{status.name + '_cbx'}}" ng-change="toggleFilterArray('statuses', status)"></checkbox>
                <label class="for-checkbox" for="{{status.name + '_cbx'}}">{{status.name}}</label>
            </li>
            <li class="title hidable clearfix">
                PRIORITY<button class="pull-right" ng-click="hidePriority = !hidePriority"><i class="mdi" ng-class="hidePriority ? 'mdi-eye' : 'mdi-eye-off'"></i></button>
            </li>
            <li class="with-padding" ng-repeat="priority in priorities" ng-show="!hidePriority">
                <checkbox ng-model="priority.checked" id="{{priority.name + '_cbx'}}" ng-change="toggleFilterArray('priorities', priority)"></checkbox>
                <label class="for-checkbox" for="{{priority.name + '_cbx'}}">{{priority.name}}</label>
            </li>
            <li class="title hidable clearfix">
                DIFFICULTY<button class="pull-right" ng-click="hideDifficulty = !hideDifficulty"><i class="mdi" ng-class="hideDifficulty ? 'mdi-eye' : 'mdi-eye-off'"></i></button>
            </li>
            <li class="with-padding" ng-repeat="difficulty in difficulties" ng-show="!hideDifficulty">
                <checkbox ng-model="difficulty.checked" id="{{difficulty.name + '_cbx'}}" ng-change="toggleFilterArray('difficulties', difficulty)"></checkbox>
                <label class="for-checkbox" for="{{difficulty.name + '_cbx'}}">{{difficulty.name}}</label>
            </li>
        </ul>
    </div>
    <button class="btn filter-button reset" ng-click="resetFilters()">Reset Filters</button>
</div>
<div id="searchResults" ng-class="{'lrg': menuSmall}">
    @Html.Partial("Loading")
    <ul class="project-list clearfix" ng-if="projects.length > 0" ng-cloak>
        <li ng-repeat="project in projects">
            <div class="surrounded-check" ng-if="project.assignedToMe" ng-cloak>
                <div><i class="mdi mdi-check"></i></div>
            </div>
            <div class="details">
                <div class="top clearfix">
                    <h1 class="status pull-left">{{project.status}}<b>({{project.type}})</b></h1>
                    <h1 class="priority pull-right" ng-class="project.priority.toLowerCase()" ng-bind="project.priority"></h1>
                </div>
                <h1 class="client" ng-bind="project.client"></h1>
                <h1 class="title" ng-bind="project.name"></h1>
            </div>
            <ul class="summary">
                <li style="color:#53b529"><i class="nova-vector-triangle-1"></i><span ng-bind="project.team"></span></li>
                <li style="color:#5297FC"><i class="nova-folder-check-1"></i><span ng-bind="project.subProjects"></span></li>
                <li style="color:#5851c4"><i class="nova-file-tasks-checklist"></i><span ng-bind="project.tasks"></span></li>
            </ul>
        </li>
    </ul>
    <div class="filler animated rubberBand" ng-if="projects.length < 1" ng-cloak>
        <div ng-if="!fromASearch">
            <img src="~/Content/images/projects.png" />
            <h1>Filter your projects and see what's been happening on <b>R</b>ekrüt</h1>
        </div>
        <div ng-if="fromASearch">
            <i class="mdi mdi-emoticon-sad"></i>
            <h1>Sorry no <b>R</b>ekrüts Projetcs were found. Try using some different filters.</h1>
        </div>
    </div>
</div>
