﻿@using Rekrut.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.Title = "Log in";
}
@Html.ValidationSummary(true, null, new { @class = "animated fadeInDown" })
<section id="loginForm">
    @using (Html.BeginForm("Login", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3 class="logo animated pulse"><b>R</b>ekrüt</h3>
        <h2 class="title">Login and start managing your tasks, projects, profile and get Rekrut-ed!</h2>
        <div class="input-holder">
            <label for="Email">Username</label>
            @Html.TextBoxFor(x => x.Email, new { autocomplete = "off" })
        </div>
        <div class="input-holder">
            <label for="Password">Password</label>
            @Html.PasswordFor(x => x.Password)
        </div>
        <button type="submit">Login</button>
        <div class="bottom">
            <a href="#">Forgot your <b>password</b>?</a>
        </div>
    }
</section>
@section Scripts{
    <script type="text/javascript">
        $(window).load(function () {
            var inputs = $('.input-holder input');
            inputs.each(function () {
                var self = $(this);
                if (self.val().length > 0)
                    self.parent().addClass('active');
            })
            inputs.focus(function () {
                var self = $(this);
                self.parent().addClass('active');
            }).blur(function () {
                var self = $(this);
                if (self.val().length < 1)
                    self.parent().removeClass('active');
            });
        });
    </script>
}