﻿@{ 
    Layout = null;
}

<div id="searchResults" class="without-top big">
    @Html.Partial("Loading")
    <div class="filler animated wobble" ng-if="applications.length < 1" ng-cloak>
        <div ng-if="!fromASearch">
            <img src="~/Content/images/applications.png" />
            <h1>Filter your Applications to get started!</h1>
        </div>
        <div ng-if="fromASearch">
            <i class="mi mi-emoticon-sad"></i>
            <h1>Sorry no <b>R</b>ekrüts were found. Try using some different filters.</h1>
        </div>
    </div>
</div>