﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rekrut | @ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/images/rekrut.ico")">
    <link href="@Url.Content("~/Content/css/global/reset.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/global/animate.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/auth.css")" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("Scripts", false)
</body>
</html>
