﻿<!DOCTYPE html>
<html ng-app="rekrut" ng-controller="mainCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="title"></title>
    <script src="/Scripts/ckeditor/ckeditor.js"></script>
    <link rel="icon" href="@Url.Content("~/Content/images/rekrut.ico")">
    @Styles.Render("~/Content/css/global")
    @Styles.Render("~/Content/css/global/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="sml">
    <div id="head" class="clearfix">
        <div id="sidebarTop" class="clearfix">
            <a href="#"><b>R</b>ekrüt</a>
        </div>
        <div id="search">
            <input type="text" placeholder="Enter a keyword, skill, department or project" />
            <button class="search-settings"><i class="fa fa-sliders"></i></button>
            <button class="search-btn">Search</button>
        </div>
        <div id="user">
            <img ng-cloak ng-src="{{person.img}}" alt="user" />
            <div class="info">
                <h1 ng-cloak>{{person.firstName + " " + person.lastName}}</h1>
                <h2 ng-cloak>{{person.jobTitle}}</h2>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <ul id="nav">
            <li><a href="#/" ng-class="{active : activePath == '/'}"><span>Dashboard</span><i class="nova-share-megaphone-2-1"></i></a></li>
            <li><a href="#/skilldirectory" ng-class="{active : activePath == '/skilldirectory'}"><span>Skill Directory</span><i class="nova-pencil-ruler-1"></i></a></li>
            <li>
                <a href="#/projects" ng-class="{active : activePath == '/projects'}">
                    <span>Projects</span><i class="nova-folder-check-1"></i>
                    <b ng-if="projects > 0" ng-cloak>{{projects}}</b>
                </a>
            </li>
            <li>
                <a href="#/applications" ng-class="{active : activePath == '/applications'}">
                    <span>Applications</span><i class="nova-devices"></i>
                    <b ng-if="applications > 0" ng-cloak>{{applications}}</b>
                </a>
            </li>
            <li>
                <a href="#/teams" ng-class="{active : activePath == '/teams'}">
                    <span>Applications</span><i class="nova-vector-triangle-1"></i>
                    <b ng-if="applications > 0" ng-cloak>{{applications}}</b>
                </a>
            </li>
            <li>
                <a href="#/taskbriefs" ng-class="{active : activePath == '/taskbriefs'}">
                    <span>Task Briefs</span><i class="nova-file-tasks-checklist"></i>
                    <b ng-if="tasks > 0" ng-cloak>{{tasks}}</b>
                </a>
            </li>
            <li><a href="#" ng-class="{active : activePath == '/settings'}"><span>Settings</span><i class="nova-settings-1"></i></a></li>
            <li>
                @using (Html.BeginForm("LogOff", "Auth", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button ng-click="logout($event)"><span>Logout</span><i class="mdi mdi-keyboard-backspace"></i></button>
                }
            </li>
        </ul>
    </div>

    @RenderBody()
    <div class="overlay animated fadeIn" ng-if="modal" ng-cloak></div>
    <div class="load-bar pageLoader" ng-if="pageLoading">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="big-comparer-holder">
        <div class="comparer-switcher">
            <button><i class=""></i></button>
        </div>
        <div class="divider"></div>
        <div class="big-comparer left">
            <div class="details">
                <h1>Leithon English:<b>Programmer Analyst</b></h1>
                <div class="img-holder">
                    <img src="~/Content/images/guy-face.png" alt="face" />
                </div>
            </div>
            <div class="chart-holder">
                <canvas id="myChart1" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="big-comparer right">
            <div class="chart-holder">
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div ng-include="url"></div>
    @Html.Partial("Templates")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/components")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-ui")
    @Scripts.Render("~/bundles/rekrut/angular")
    <script type="text/javascript">
        var data = {
            labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(83, 181, 41, 0.20)",
                    strokeColor: "#53b529",
                    pointColor: "#3d9219",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#53b529",
                    data: [65, 59, 90, 81, 56, 55, 40]
                }
            ]
        };
        var data1 = {
            labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
            datasets: [
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 96, 27, 100]
                }
            ]
        };
        var ctx = document.getElementById("myChart1").getContext("2d");
        var ctx1 = document.getElementById("myChart2").getContext("2d");
        var myRadarChart1 = new Chart(ctx1).Radar(data1);
        var myRadarChart = new Chart(ctx).Radar(data, {
            tooltipFillColor: "rgba(0,0,0,0.4)",
            tooltipFontFamily: "'Proxima Nova'",
            tooltipTitleFontStyle: "lighter",
            tooltipCornerRadius: 2,
        });
       
    </script>
</body>
</html>
