﻿@{
    Layout = null;
}
<div class="person-card">
    <div class="top">
        <button class="options"><i class="mdi mdi-dots-vertical"></i></button>
        <button class="close"><i class="mdi mdi-close"></i></button>
        <div class="img-holder">
            <img src="~/Content/images/guy-face.png" alt="User Face" />
        </div>
        <div class="info">
            <h1>{{peronCard.FirstName + " " + personCard.LastName}}: <b ng-bind="personCard.JobTitle"></b></h1>
            <h2 ng-bind="peronCard.Department"></h2>
            <div class="detail-group clearfix">
                <h3 class="pull-left"><b>Email:</b>{{personCard.Email}}</h3>
                <h3 class="pull-right"><b>Ext.:</b>{{personCard.Extension}}</h3>
            </div>
        </div>
        <div class="tabs-nav">
            <button class="active">Personals</button>
            <button>Skills</button>
            <button>Pros & Cons</button>
            <button>Interests</button>
            <button>Credentials</button>
        </div>
    </div>
    <div class="bottom">
        <div class="tab-content-inner">
            <div class="tab-content">
                <table>
                    <tr>
                        <td>
                            <label>Address</label>
                            <h1>{{personCard.Address.Line1 + (personCard.Address.Line2.length > 0 ? "," :"")}}</h1>
                            <h1 ng-if="personCard.Address.Line2 > 0" ng-bind="personCard.Address.Line2"></h1>
                        </td>
                        <td>
                            <label>Phone</label>
                            <h1 ng-bind="personCard.Phone"></h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Regligion</label>
                            <h1>{{personCard.Religion}}</h1>
                        </td>
                        <td>
                            <label>Family?</label>
                            <h1>{{personCard.HasFamily ? (personCard.Gender == "m" ? "He" : "She") + " Got One!": "Free from Responsibilty"}}</h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>Career Path</label>
                            <p>{{personCard.CareerPath.length > 0 ? personCard.CarrerPath : "Still hasn't decided"}}</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-content">
                <ul>
                    <li class="title">
                        <label>Skills</label>
                        <ul>
                            <li ng-repeat="skill in personCard.Skills">
                                <h1 ng-bind="skill.Name"></h1>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>