﻿@{ 
    Layout = null;
}
<script type="text/ng-template" id="alertModal.html">
    <div class="modal-body">
        <h1>{{title}}</h1>
        <p>{{msg}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="close()">Ok</button>
    </div>
</script>

<script type="text/ng-template" id="personCard.html">
    <div class="with-tabs person-card animated" ng-class="closed ? 'slideOutUp' : 'slideInUp'">
        <div class="top">
            <button class="options"><i class="mdi mdi-dots-vertical"></i></button>
            <button class="close" ng-click="closeGlobalModal()"><i class="mdi mdi-close"></i></button>
            <div class="img-holder">
                <img ng-src="{{personCard.Img}}" alt="User Face" />
            </div>
            <div class="info">
                <h1>{{personCard.FirstName + " " + personCard.LastName}}: <b ng-bind="personCard.JobTitle"></b></h1>
                <h2 ng-bind="personCard.Department"></h2>
                <div class="detail-group clearfix">
                    <h3><b>Email:</b>{{personCard.Email}}</h3>
                    <h3><b>Ext.:</b>{{personCard.Extension}}</h3>
                </div>
            </div>
            <div class="tabs-nav">
                <button class="active">Personals</button>
                <button>Skills</button>
                <button>Pros & Cons</button>
                <button>Interests</button>
                <button>Credentials</button>
            </div>
        </div>
        <div class="bottom tab-content-holder">
            <div class="tab-content-holder-inner">
                <div class="tab-content active">
                    <table>
                        <tr>
                            <td>
                                <label>Address</label>
                                <h1>{{personCard.Address.Line1 + (personCard.Address.Line2.length > 0 ? "," :"")}}</h1>
                                <h1 ng-if="personCard.Address.Line2.length > 0" ng-bind="personCard.Address.Line2"></h1>
                            </td>
                            <td>
                                <label>Phone</label>
                                <h1 ng-bind="personCard.Phone"></h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Religion</label>
                                <h1>{{personCard.Religion}}</h1>
                            </td>
                            <td>
                                <label>Family?</label>
                                <h1>{{personCard.HasFamily ? (personCard.Gender == "m" ? "He" : "She") + " Got One!": "Free from Responsibilty"}}</h1>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label>Career Path</label>
                                <p>{{personCard.CareerPath.length > 0 ? personCard.CareerPath : "Still hasn't decided"}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-content">
                    <ul class="familiar">
                        <li class="title">
                            <h1 style="width:60%">Skill</h1>
                            <h1 style="width:17%; text-align:center;">Rating</h1>
                            <h1 style="width:20%; text-align:center;">Experience</h1>
                        </li>
                        <li ng-repeat="skill in personCard.Skills">
                            <h1 style="width:60%" ng-bind="skill.Name"></h1>
                            <h1 style="width:17%; text-align:center;"><b ng-bind="skill.Rating"></b>/10</h1>
                            <h1 style="width:20%; text-align:center;"><b ng-bind="skill.Experience"></b> years</h1>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <ul>
                        <li class="title">
                            <label>Pros & Cons</label>
                            <ul>
                                <li ng-repeat="skill in personCard.skills">
                                    <h1 ng-bind="skill.name"></h1>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <ul>
                        <li class="title">
                            <label>Interests</label>
                            <ul>
                                <li ng-repeat="skill in personCard.skills">
                                    <h1 ng-bind="skill.name"></h1>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <ul>
                        <li class="title">
                            <label>Credentials</label>
                            <ul>
                                <li ng-repeat="skill in personCard.skills">
                                    <h1 ng-bind="skill.name"></h1>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>