﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rekrüt | 404</title>
    <link rel="icon" href="@Url.Content("~/Content/images/rekrut.ico")">
    <link href="@Url.Content("~/Content/css/global/reset.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/global/animate.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/global/bootstrap/bootstrap.css")" rel="stylesheet" />
    <style type="text/css">
        html, body{
            background:#2d3139;
            font-family:'Proxima Nova', 'Open Sans', sans-serif;
        }
        .holder{
            width:900px;
            height:400px;
            position:absolute;
            top:50%;
            left:50%;
            margin:-200px 0 0 -450px;
        }
        .pull-left{
            width:450px;
        }
        .pull-left .big-word{
            font-size:200px;
            font-weight:bold;
            color:#fff;
        }
        .pull-left p{
            font-size:20px;
            color:#fff;
            font-weight:200;
        }
        .pull-left a {
            display: inline-block;
            padding: 10px 20px;
            background: #3283f8;
            color: #fff;
            font-weight: bold;
            border-radius: 2px;
            box-shadow: rgba(0,0,0,0.15) 0 1px 2px, inset rgba(0,0,0,0.10) 0 -3px 3px;
            text-shadow: rgba(0,0,0,0.3) 0 -1px 1px;
            font-family: 'Proxima Nova', Roboto, 'Open Sans', sans-serif;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        .pull-left a:hover{
            box-shadow: rgba(0,0,0,0.25) 0 2px 3px;
            text-decoration:none;
        }
        .logo{
            text-align:center;
            font-weight:200;
            font-size:40px;
            margin:20px 0 10px 0;
            color:#e4e4e4;
        }
        .logo b{
            color:rgba(103,47,84,1);
        }
        img{
            width:400px;
        }
    </style>
</head>
<body>
    <div class="clearfix holder">
        <div class="pull-left">
            <h1 class="logo"><b>R</b>ekrüt</h1>
            <h1 class="big-word">404!</h1>
            <p>Woah! Seems you've wonderred off, because we can't find the page that your looking for.</p>
            <a href="@Url.Action("Index", "Home")">HEAD BACK!</a>
        </div>
        <div class="pull-right">
            <img src="@Url.Content("~/Content/images/space.png")" alt="space" />"
        </div>
    </div>
</body>
</html>
