﻿@charset "UTF-8";

@font-face {
  font-family: "nova";
  src:url("../../fonts/nova.eot");
  src:url("../../fonts/nova.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/nova.woff") format("woff"),
    url("../../fonts/nova.ttf") format("truetype"),
    url("../../fonts/nova.svg#nova") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nova" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nova-"]:before,
[class*=" nova-"]:before {
  font-family: "nova" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nova-window-programming:before {
  content: "\e04b";
}
.nova-window-programming-1:before {
  content: "\e04c";
}
.nova-window:before {
  content: "\e04d";
}
.nova-window-1:before {
  content: "\e04e";
}
.nova-wind-flag:before {
  content: "\e04f";
}
.nova-wind-flag-1:before {
  content: "\e050";
}
.nova-water-tower:before {
  content: "\e051";
}
.nova-vote-thumbs-down:before {
  content: "\e052";
}
.nova-vote-thumbs-down-1:before {
  content: "\e053";
}
.nova-vote-thumbs-up:before {
  content: "\e054";
}
.nova-vote-thumbs-up-1:before {
  content: "\e055";
}
.nova-wallet:before {
  content: "\e056";
}
.nova-wallet-1:before {
  content: "\e057";
}
.nova-warehouse-box:before {
  content: "\e058";
}
.nova-warehouse-box-1:before {
  content: "\e059";
}
.nova-water-droplet:before {
  content: "\e05a";
}
.nova-water-droplet-1:before {
  content: "\e05b";
}
.nova-water-tap:before {
  content: "\e05c";
}
.nova-water-tap-1:before {
  content: "\e05d";
}
.nova-water-tower-1:before {
  content: "\e05e";
}
.nova-vote-plus-one:before {
  content: "\e05f";
}
.nova-vote-plus-one-1:before {
  content: "\e060";
}
.nova-vote-heart-circle-1:before {
  content: "\e061";
}
.nova-volcanoe:before {
  content: "\e062";
}
.nova-volcanoe-1:before {
  content: "\e063";
}
.nova-video-games-pacman-ghost:before {
  content: "\e064";
}
.nova-video-games-pacman-ghost-1:before {
  content: "\e065";
}
.nova-video-games-pacman:before {
  content: "\e066";
}
.nova-video-games-pacman-1:before {
  content: "\e067";
}
.nova-video-games-gameboy:before {
  content: "\e068";
}
.nova-video-games-gameboy-1:before {
  content: "\e069";
}
.nova-video-control-stop:before {
  content: "\e06a";
}
.nova-video-control-next:before {
  content: "\e06b";
}
.nova-video-control-next-1:before {
  content: "\e06c";
}
.nova-video-control-pause:before {
  content: "\e06d";
}
.nova-video-control-pause-1:before {
  content: "\e06e";
}
.nova-video-control-play:before {
  content: "\e06f";
}
.nova-video-control-play-1:before {
  content: "\e070";
}
.nova-video-control-previous:before {
  content: "\e071";
}
.nova-video-control-previous-1:before {
  content: "\e072";
}
.nova-video-control-record:before {
  content: "\e073";
}
.nova-video-control-record-1:before {
  content: "\e074";
}
.nova-video-control-rewind:before {
  content: "\e075";
}
.nova-video-control-rewind-1:before {
  content: "\e076";
}
.nova-video-control-stop-1:before {
  content: "\e077";
}
.nova-video-control-fast-forward:before {
  content: "\e078";
}
.nova-video-control-fast-forward-1:before {
  content: "\e079";
}
.nova-video-control-eject:before {
  content: "\e07a";
}
.nova-video-control-eject-1:before {
  content: "\e07b";
}
.nova-video-clip-4:before {
  content: "\e07c";
}
.nova-video-clip-4-1:before {
  content: "\e07d";
}
.nova-video-clip-3:before {
  content: "\e07e";
}
.nova-video-clip-3-1:before {
  content: "\e07f";
}
.nova-video-camera-3:before {
  content: "\e080";
}
.nova-video-camera-3-1:before {
  content: "\e081";
}
.nova-video-call-mobile-phone:before {
  content: "\e082";
}
.nova-video-call-mobile-phone-1:before {
  content: "\e083";
}
.nova-video-call-1:before {
  content: "\e084";
}
.nova-user-male:before {
  content: "\e085";
}
.nova-user-male-1:before {
  content: "\e086";
}
.nova-user-subtract:before {
  content: "\e087";
}
.nova-user-subtract-1:before {
  content: "\e088";
}
.nova-vector-circle:before {
  content: "\e089";
}
.nova-vector-circle-1:before {
  content: "\e08a";
}
.nova-vector-line:before {
  content: "\e08b";
}
.nova-vector-line-1:before {
  content: "\e08c";
}
.nova-vector-square-1:before {
  content: "\e08d";
}
.nova-vector-square-1-1:before {
  content: "\e08e";
}
.nova-vector-triangle:before {
  content: "\e08f";
}
.nova-vector-triangle-1:before {
  content: "\e090";
}
.nova-video-call-1-1:before {
  content: "\e091";
}
.nova-user-magnify:before {
  content: "\e092";
}
.nova-user-heart:before {
  content: "\e093";
}
.nova-user-heart-1:before {
  content: "\e094";
}
.nova-user-headphone:before {
  content: "\e095";
}
.nova-user-headphone-1:before {
  content: "\e096";
}
.nova-user-female:before {
  content: "\e097";
}
.nova-user-female-1:before {
  content: "\e098";
}
.nova-user-check:before {
  content: "\e099";
}
.nova-user-chat-1:before {
  content: "\e09a";
}
.nova-user-check-1:before {
  content: "\e09b";
}
.nova-user-chat-1-1:before {
  content: "\e09c";
}
.nova-user-add:before {
  content: "\e09d";
}
.nova-treasure-chest-open:before {
  content: "\e09e";
}
.nova-treasure-chest-open-1:before {
  content: "\e09f";
}
.nova-trolley-box-service:before {
  content: "\e0a0";
}
.nova-trolley-box-service-1:before {
  content: "\e0a1";
}
.nova-umbrella-open:before {
  content: "\e0a2";
}
.nova-umbrella-open-1:before {
  content: "\e0a3";
}
.nova-undershirt:before {
  content: "\e0a4";
}
.nova-undershirt-1:before {
  content: "\e0a5";
}
.nova-underwear:before {
  content: "\e0a6";
}
.nova-underwear-1:before {
  content: "\e0a7";
}
.nova-upload-computer:before {
  content: "\e0a8";
}
.nova-upload-computer-1:before {
  content: "\e0a9";
}
.nova-user-add-1:before {
  content: "\e0aa";
}
.nova-travel-globe:before {
  content: "\e0ac";
}
.nova-travel-globe-1:before {
  content: "\e0ad";
}
.nova-travel-flippers:before {
  content: "\e0ae";
}
.nova-travel-flippers-1:before {
  content: "\e0af";
}
.nova-travel-camping:before {
  content: "\e0b0";
}
.nova-travel-camping-1:before {
  content: "\e0b1";
}
.nova-travel-beach:before {
  content: "\e0b2";
}
.nova-travel-beach-1:before {
  content: "\e0b3";
}
.nova-travel-bag-1:before {
  content: "\e0b4";
}
.nova-travel-bag-1-1:before {
  content: "\e0b5";
}
.nova-tram:before {
  content: "\e0b6";
}
.nova-tram-1:before {
  content: "\e0b7";
}
.nova-tools-measuring-tape:before {
  content: "\e0b8";
}
.nova-tools-measuring-tape-1:before {
  content: "\e0b9";
}
.nova-toilet-roll:before {
  content: "\e0ba";
}
.nova-temple-2:before {
  content: "\e0bb";
}
.nova-temple-2-1:before {
  content: "\e0bc";
}
.nova-telephone-1:before {
  content: "\e0bd";
}
.nova-telephone-1-1:before {
  content: "\e0be";
}
.nova-tank:before {
  content: "\e0bf";
}
.nova-tank-1:before {
  content: "\e0c0";
}
.nova-synchronize-2:before {
  content: "\e0c1";
}
.nova-synchronize-1:before {
  content: "\e0c2";
}
.nova-synchronize-2-1:before {
  content: "\e0c3";
}
.nova-sport-takraw:before {
  content: "\e0c4";
}
.nova-spray-bottle:before {
  content: "\e0c5";
}
.nova-spray-bottle-1:before {
  content: "\e0c6";
}
.nova-star-constellation:before {
  content: "\e0c7";
}
.nova-subtract-circle-1:before {
  content: "\e0c8";
}
.nova-subtract-circle-1-1:before {
  content: "\e0c9";
}
.nova-sunny:before {
  content: "\e0ca";
}
.nova-sunny-1:before {
  content: "\e0cb";
}
.nova-switch-left:before {
  content: "\e0cc";
}
.nova-switch-left-1:before {
  content: "\e0cd";
}
.nova-switch-right:before {
  content: "\e0ce";
}
.nova-switch-right-1:before {
  content: "\e0cf";
}
.nova-sport-takraw-1:before {
  content: "\e0d0";
}
.nova-sport-football-field:before {
  content: "\e0d1";
}
.nova-sport-football-field-1:before {
  content: "\e0d2";
}
.nova-sport-dumbbell-1:before {
  content: "\e0d3";
}
.nova-sport-dumbbell-1-1:before {
  content: "\e0d4";
}
.nova-sport-bowling:before {
  content: "\e0d5";
}
.nova-sport-bowling-1:before {
  content: "\e0d6";
}
.nova-sport-basketball:before {
  content: "\e0d7";
}
.nova-sport-basketball-1:before {
  content: "\e0d8";
}
.nova-speaker-volume-off:before {
  content: "\e0d9";
}
.nova-speaker-volume-off-1:before {
  content: "\e0da";
}
.nova-speaker-volume-medium:before {
  content: "\e0db";
}
.nova-speaker-volume-medium-1:before {
  content: "\e0dc";
}
.nova-smiley-worry:before {
  content: "\e0dd";
}
.nova-spa-bamboo:before {
  content: "\e0de";
}
.nova-spa-bamboo-1:before {
  content: "\e0df";
}
.nova-spa-lotion:before {
  content: "\e0e0";
}
.nova-spa-lotion-1:before {
  content: "\e0e1";
}
.nova-spa-lotus-flower:before {
  content: "\e0e2";
}
.nova-spa-lotus-flower-1:before {
  content: "\e0e3";
}
.nova-speaker-volume-decrease:before {
  content: "\e0e4";
}
.nova-speaker-volume-decrease-1:before {
  content: "\e0e5";
}
.nova-speaker-volume-high:before {
  content: "\e0e6";
}
.nova-speaker-volume-high-1:before {
  content: "\e0e7";
}
.nova-speaker-volume-increase:before {
  content: "\e0e8";
}
.nova-speaker-volume-increase-1:before {
  content: "\e0e9";
}
.nova-smiley-worry-1:before {
  content: "\e0ea";
}
.nova-smiley-wink:before {
  content: "\e0eb";
}
.nova-smiley-wink-1:before {
  content: "\e0ec";
}
.nova-smiley-smile-2:before {
  content: "\e0ed";
}
.nova-smiley-smile-2-1:before {
  content: "\e0ee";
}
.nova-smiley-shy-1:before {
  content: "\e0ef";
}
.nova-smiley-shy-1-1:before {
  content: "\e0f0";
}
.nova-smiley-poker-face:before {
  content: "\e0f1";
}
.nova-smiley-poker-face-1:before {
  content: "\e0f2";
}
.nova-smiley-dolar:before {
  content: "\e0f3";
}
.nova-smiley-dolar-1:before {
  content: "\e0f4";
}
.nova-smart-watch-circle-navigation:before {
  content: "\e0f5";
}
.nova-smart-watch-circle-navigation-1:before {
  content: "\e0f6";
}
.nova-shopping-basket-2:before {
  content: "\e0f7";
}
.nova-shopping-basket-add:before {
  content: "\e0f8";
}
.nova-shopping-basket-add-1:before {
  content: "\e0f9";
}
.nova-shopping-basket-check:before {
  content: "\e0fa";
}
.nova-shopping-basket-check-1:before {
  content: "\e0fb";
}
.nova-shopping-basket-close:before {
  content: "\e0fc";
}
.nova-shopping-basket-close-1:before {
  content: "\e0fd";
}
.nova-shopping-basket-subtract:before {
  content: "\e0fe";
}
.nova-shopping-basket-subtract-1:before {
  content: "\e0ff";
}
.nova-sign-elevator:before {
  content: "\e100";
}
.nova-sign-elevator-1:before {
  content: "\e101";
}
.nova-sign-toilet:before {
  content: "\e102";
}
.nova-sign-toilet-1:before {
  content: "\e103";
}
.nova-shopping-basket-2-1:before {
  content: "\e104";
}
.nova-shopping-basket-1:before {
  content: "\e105";
}
.nova-shopping-basket-1-1:before {
  content: "\e106";
}
.nova-share-signal-user:before {
  content: "\e107";
}
.nova-share-signal-user-1:before {
  content: "\e108";
}
.nova-share-radar:before {
  content: "\e109";
}
.nova-share-radar-1:before {
  content: "\e10a";
}
.nova-share-megaphone-2:before {
  content: "\e10b";
}
.nova-share-megaphone-2-1:before {
  content: "\e10c";
}
.nova-settings-1:before {
  content: "\e10d";
}
.nova-settings-1-1:before {
  content: "\e10e";
}
.nova-server-subtract-1:before {
  content: "\e10f";
}
.nova-server-subtract-1-1:before {
  content: "\e110";
}
.nova-send-to-front:before {
  content: "\e111";
}
.nova-server-2:before {
  content: "\e112";
}
.nova-server-2-1:before {
  content: "\e113";
}
.nova-server-add-1:before {
  content: "\e114";
}
.nova-server-add-1-1:before {
  content: "\e115";
}
.nova-server-bug:before {
  content: "\e116";
}
.nova-server-bug-1:before {
  content: "\e117";
}
.nova-server-check-1:before {
  content: "\e118";
}
.nova-server-check-1-1:before {
  content: "\e119";
}
.nova-server-close-1:before {
  content: "\e11a";
}
.nova-server-close-1-1:before {
  content: "\e11b";
}
.nova-server-network-1:before {
  content: "\e11c";
}
.nova-server-network-1-1:before {
  content: "\e11d";
}
.nova-send-to-front-1:before {
  content: "\e11e";
}
.nova-send-to-back:before {
  content: "\e11f";
}
.nova-send-to-back-1:before {
  content: "\e120";
}
.nova-scissors:before {
  content: "\e121";
}
.nova-scissors-1:before {
  content: "\e122";
}
.nova-save-water:before {
  content: "\e123";
}
.nova-save-water-1:before {
  content: "\e124";
}
.nova-safe:before {
  content: "\e125";
}
.nova-safe-1:before {
  content: "\e126";
}
.nova-romance-relationship:before {
  content: "\e127";
}
.nova-romance-relationship-1:before {
  content: "\e128";
}
.nova-romance-love-target:before {
  content: "\e129";
}
.nova-romance-love-target-1:before {
  content: "\e12a";
}
.nova-rewards-banner-check:before {
  content: "\e12b";
}
.nova-rewards-gift:before {
  content: "\e12c";
}
.nova-rewards-gift-1:before {
  content: "\e12d";
}
.nova-rewards-medal-1:before {
  content: "\e12e";
}
.nova-rewards-medal-1-1:before {
  content: "\e12f";
}
.nova-rewards-pedestal:before {
  content: "\e130";
}
.nova-rewards-pedestal-1:before {
  content: "\e131";
}
.nova-rewards-trophy-5:before {
  content: "\e132";
}
.nova-rewards-trophy-5-1:before {
  content: "\e133";
}
.nova-ring-planet:before {
  content: "\e134";
}
.nova-ring-planet-1:before {
  content: "\e135";
}
.nova-romance-bow:before {
  content: "\e136";
}
.nova-rewards-banner-check-1:before {
  content: "\e137";
}
.nova-remove-circle-1:before {
  content: "\e138";
}
.nova-remove-circle-1-1:before {
  content: "\e139";
}
.nova-register-machine:before {
  content: "\e13a";
}
.nova-register-machine-1:before {
  content: "\e13b";
}
.nova-rechargable-battery:before {
  content: "\e13c";
}
.nova-rechargable-battery-1:before {
  content: "\e13d";
}
.nova-receipt-1:before {
  content: "\e13e";
}
.nova-receipt-1-1:before {
  content: "\e13f";
}
.nova-quill:before {
  content: "\e140";
}
.nova-quill-1:before {
  content: "\e141";
}
.nova-projector:before {
  content: "\e142";
}
.nova-projector-1:before {
  content: "\e143";
}
.nova-places-home-4:before {
  content: "\e144";
}
.nova-places-taj-mahal:before {
  content: "\e145";
}
.nova-places-taj-mahal-1:before {
  content: "\e146";
}
.nova-places-warehouse-1:before {
  content: "\e147";
}
.nova-places-warehouse-1-1:before {
  content: "\e148";
}
.nova-places-water-well:before {
  content: "\e149";
}
.nova-places-water-well-1:before {
  content: "\e14a";
}
.nova-pocket-knife:before {
  content: "\e14b";
}
.nova-pocket-knife-1:before {
  content: "\e14c";
}
.nova-police-officer-1:before {
  content: "\e14d";
}
.nova-police-officer-1-1:before {
  content: "\e14e";
}
.nova-polo-shirt:before {
  content: "\e14f";
}
.nova-polo-shirt-1:before {
  content: "\e150";
}
.nova-places-home-4-1:before {
  content: "\e151";
}
.nova-places-home-3:before {
  content: "\e152";
}
.nova-places-home-3-1:before {
  content: "\e153";
}
.nova-places-eiffel-tower:before {
  content: "\e154";
}
.nova-places-eiffel-tower-1:before {
  content: "\e155";
}
.nova-places-colosseum:before {
  content: "\e156";
}
.nova-places-colosseum-1:before {
  content: "\e157";
}
.nova-places-christ-the-redeemer:before {
  content: "\e158";
}
.nova-places-christ-the-redeemer-1:before {
  content: "\e159";
}
.nova-pin-2:before {
  content: "\e15a";
}
.nova-pin-2-1:before {
  content: "\e15b";
}
.nova-picture-layer-1:before {
  content: "\e15c";
}
.nova-picture-layer-1-1:before {
  content: "\e15d";
}
.nova-pen-tablet:before {
  content: "\e15e";
}
.nova-pencil-2:before {
  content: "\e15f";
}
.nova-pencil-2-1:before {
  content: "\e160";
}
.nova-pencil-ruler:before {
  content: "\e161";
}
.nova-pencil-ruler-1:before {
  content: "\e162";
}
.nova-phone-incoming:before {
  content: "\e163";
}
.nova-phone-incoming-1:before {
  content: "\e164";
}
.nova-phone-outgoing:before {
  content: "\e165";
}
.nova-phone-outgoing-1:before {
  content: "\e166";
}
.nova-photo-landscape:before {
  content: "\e167";
}
.nova-photo-landscape-1:before {
  content: "\e168";
}
.nova-photo-portrait:before {
  content: "\e169";
}
.nova-photo-portrait-1:before {
  content: "\e16a";
}
.nova-pen-tablet-1:before {
  content: "\e16b";
}
.nova-paperplane:before {
  content: "\e16c";
}
.nova-paperplane-1:before {
  content: "\e16d";
}
.nova-paper-pin:before {
  content: "\e16e";
}
.nova-paper-pin-1:before {
  content: "\e16f";
}
.nova-paint-brush-1:before {
  content: "\e170";
}
.nova-paint-brush-1-1:before {
  content: "\e171";
}
.nova-outbox:before {
  content: "\e172";
}
.nova-outbox-1:before {
  content: "\e173";
}
.nova-origami-paper-bird:before {
  content: "\e174";
}
.nova-origami-paper-bird-1:before {
  content: "\e175";
}
.nova-organization-hierarchy-3:before {
  content: "\e176";
}
.nova-organization-hierarchy-3-1:before {
  content: "\e177";
}
.nova-operator-male:before {
  content: "\e178";
}
.nova-operator-male-1:before {
  content: "\e179";
}
.nova-nuclear-power-plant:before {
  content: "\e17a";
}
.nova-nuclear-power-plant-1:before {
  content: "\e17b";
}
.nova-network-laptop:before {
  content: "\e17c";
}
.nova-network-laptop-1:before {
  content: "\e17d";
}
.nova-network-business:before {
  content: "\e17e";
}
.nova-network-business-1:before {
  content: "\e17f";
}
.nova-navigation-next-1:before {
  content: "\e180";
}
.nova-navigation-next-1-1:before {
  content: "\e181";
}
.nova-navigation-before-1:before {
  content: "\e182";
}
.nova-navigation-before-1-1:before {
  content: "\e183";
}
.nova-nature-plant-1:before {
  content: "\e184";
}
.nova-mobile-phone-off:before {
  content: "\e185";
}
.nova-mobile-phone-off-1:before {
  content: "\e186";
}
.nova-monster-truck-1:before {
  content: "\e187";
}
.nova-monster-truck-1-1:before {
  content: "\e188";
}
.nova-motorcycle-1:before {
  content: "\e189";
}
.nova-motorcycle-1-1:before {
  content: "\e18a";
}
.nova-motorcycle-2:before {
  content: "\e18b";
}
.nova-motorcycle-2-1:before {
  content: "\e18c";
}
.nova-music-note-1:before {
  content: "\e18d";
}
.nova-music-note-1-1:before {
  content: "\e18e";
}
.nova-nature-flower-1:before {
  content: "\e18f";
}
.nova-nature-flower-1-1:before {
  content: "\e190";
}
.nova-nature-plant-1-1:before {
  content: "\e191";
}
.nova-mobile-phone-close-1:before {
  content: "\e192";
}
.nova-mobile-phone-close-1-1:before {
  content: "\e193";
}
.nova-mobile-phone-check-1:before {
  content: "\e194";
}
.nova-mobile-phone-check-1-1:before {
  content: "\e195";
}
.nova-mobile-phone-audio:before {
  content: "\e196";
}
.nova-mobile-phone-audio-1:before {
  content: "\e197";
}
.nova-match-stick:before {
  content: "\e198";
}
.nova-match-stick-1:before {
  content: "\e199";
}
.nova-mail-refresh-1-1:before {
  content: "\e19b";
}
.nova-login-wrong:before {
  content: "\e19c";
}
.nova-login-lock:before {
  content: "\e19e";
}
.nova-location-pin-skull-2:before {
  content: "\e19f";
}
.nova-location-pin-skull-2-1:before {
  content: "\e1a0";
}
.nova-location-pin-subtract-2:before {
  content: "\e1a1";
}
.nova-location-pin-subtract-2-1:before {
  content: "\e1a2";
}
.nova-location-user:before {
  content: "\e1a3";
}
.nova-location-user-1:before {
  content: "\e1a4";
}
.nova-lock-1:before {
  content: "\e1a5";
}
.nova-lock-1-1:before {
  content: "\e1a6";
}
.nova-lock-unlock-1:before {
  content: "\e1a7";
}
.nova-lock-unlock-1-1:before {
  content: "\e1a8";
}
.nova-login-check:before {
  content: "\e1a9";
}
.nova-location-pin-close-2:before {
  content: "\e19a";
}
.nova-location-pin-close-2-1:before {
  content: "\e19d";
}
.nova-location-pin-check-2:before {
  content: "\e1aa";
}
.nova-location-pin-check-2-1:before {
  content: "\e1ab";
}
.nova-location-pin-bank-2:before {
  content: "\e1ac";
}
.nova-location-pin-bank-2-1:before {
  content: "\e1ad";
}
.nova-location-pin-add-2:before {
  content: "\e1ae";
}
.nova-location-pin-add-2-1:before {
  content: "\e1af";
}
.nova-location-pin-4:before {
  content: "\e1b0";
}
.nova-location-pin-4-1:before {
  content: "\e1b1";
}
.nova-location-map-1:before {
  content: "\e1b2";
}
.nova-location-map-1-1:before {
  content: "\e1b3";
}
.nova-location-gps-on-2:before {
  content: "\e1b4";
}
.nova-lamp-studio-1:before {
  content: "\e1b5";
}
.nova-lamp-studio-1-1:before {
  content: "\e1b6";
}
.nova-laptop-1:before {
  content: "\e1b7";
}
.nova-laptop-1-1:before {
  content: "\e1b8";
}
.nova-leisure-dj-booth:before {
  content: "\e1b9";
}
.nova-leisure-dj-booth-1:before {
  content: "\e1ba";
}
.nova-leisure-magic:before {
  content: "\e1bb";
}
.nova-leisure-magic-1:before {
  content: "\e1bc";
}
.nova-leisure-marry-go-round:before {
  content: "\e1bd";
}
.nova-leisure-marry-go-round-1:before {
  content: "\e1be";
}
.nova-leisure-rest:before {
  content: "\e1bf";
}
.nova-leisure-rest-1:before {
  content: "\e1c0";
}
.nova-location-gps-on-2-1:before {
  content: "\e1c1";
}
.nova-lamp-1:before {
  content: "\e1c2";
}
.nova-lamp-1-1:before {
  content: "\e1c3";
}
.nova-kitchen-pan-fry:before {
  content: "\e1c4";
}
.nova-kitchen-pan-fry-1:before {
  content: "\e1c5";
}
.nova-kitchen-frying-machine:before {
  content: "\e1c6";
}
.nova-kitchen-frying-machine-1:before {
  content: "\e1c7";
}
.nova-kitchen-blender:before {
  content: "\e1c8";
}
.nova-kitchen-blender-1:before {
  content: "\e1c9";
}
.nova-king:before {
  content: "\e1ca";
}
.nova-king-1:before {
  content: "\e1cb";
}
.nova-keyboard-1:before {
  content: "\e1cc";
}
.nova-keyboard-2:before {
  content: "\e1cd";
}
.nova-key-hole-1:before {
  content: "\e1ce";
}
.nova-key-hole-1-1:before {
  content: "\e1cf";
}
.nova-inbox-1:before {
  content: "\e1d0";
}
.nova-inbox-2:before {
  content: "\e1d1";
}
.nova-id-card-1:before {
  content: "\e1d2";
}
.nova-id-card-1-1:before {
  content: "\e1d3";
}
.nova-hourglass-1:before {
  content: "\e1d4";
}
.nova-hourglass-2:before {
  content: "\e1d5";
}
.nova-hotel-toilet-seat:before {
  content: "\e1d6";
}
.nova-hotel-toilet-seat-1:before {
  content: "\e1d7";
}
.nova-hotel-shower:before {
  content: "\e1d8";
}
.nova-hotel-bed-1:before {
  content: "\e1d9";
}
.nova-hotel-bed-1-1:before {
  content: "\e1da";
}
.nova-health-heart-pulse:before {
  content: "\e1db";
}
.nova-health-hospital-sign-1:before {
  content: "\e1dc";
}
.nova-health-hospital-sign-1-1:before {
  content: "\e1dd";
}
.nova-health-medicine-bottle:before {
  content: "\e1de";
}
.nova-health-medicine-bottle-1:before {
  content: "\e1df";
}
.nova-health-prescription-2:before {
  content: "\e1e0";
}
.nova-health-prescription-2-1:before {
  content: "\e1e1";
}
.nova-helicopter:before {
  content: "\e1e2";
}
.nova-helicopter-1:before {
  content: "\e1e3";
}
.nova-hot-air-balloon:before {
  content: "\e1e4";
}
.nova-hot-air-balloon-1:before {
  content: "\e1e5";
}
.nova-hotel-bath-shower:before {
  content: "\e1e6";
}
.nova-hotel-bath-shower-1:before {
  content: "\e1e7";
}
.nova-health-heart-pulse-1:before {
  content: "\e1e8";
}
.nova-health-graph-1:before {
  content: "\e1e9";
}
.nova-health-graph-1-1:before {
  content: "\e1ea";
}
.nova-health-ambulance:before {
  content: "\e1eb";
}
.nova-health-ambulance-1:before {
  content: "\e1ec";
}
.nova-hat-magician:before {
  content: "\e1ed";
}
.nova-hat-magician-1:before {
  content: "\e1ee";
}
.nova-hat-1:before {
  content: "\e1ef";
}
.nova-hat-1-1:before {
  content: "\e1f0";
}
.nova-hanging-rope:before {
  content: "\e1f1";
}
.nova-hand-remote:before {
  content: "\e1f2";
}
.nova-hand-remote-1:before {
  content: "\e1f3";
}
.nova-glass-cocktail-2:before {
  content: "\e1f4";
}
.nova-gold-nuggets:before {
  content: "\e1f5";
}
.nova-gold-nuggets-1:before {
  content: "\e1f6";
}
.nova-graduation-hat-1:before {
  content: "\e1f7";
}
.nova-graduation-hat-2:before {
  content: "\e1f8";
}
.nova-gramophone:before {
  content: "\e1f9";
}
.nova-gramophone-1:before {
  content: "\e1fa";
}
.nova-greek-column:before {
  content: "\e1fb";
}
.nova-hammer-anvil:before {
  content: "\e1fc";
}
.nova-hammer-anvil-1:before {
  content: "\e1fd";
}
.nova-hand-gun:before {
  content: "\e1fe";
}
.nova-hand-gun-1:before {
  content: "\e1ff";
}
.nova-glass-cocktail-2-1:before {
  content: "\e200";
}
.nova-food-steak:before {
  content: "\e201";
}
.nova-food-steak-1:before {
  content: "\e202";
}
.nova-food-plate-knife-fork:before {
  content: "\e203";
}
.nova-food-plate-knife-fork-1:before {
  content: "\e204";
}
.nova-food-noodle-2:before {
  content: "\e205";
}
.nova-food-noodle-2-1:before {
  content: "\e206";
}
.nova-food-icecream-2:before {
  content: "\e207";
}
.nova-food-icecream-2-1:before {
  content: "\e208";
}
.nova-food-double-burger:before {
  content: "\e209";
}
.nova-food-double-burger-1:before {
  content: "\e20a";
}
.nova-food-chicken-drum-stick:before {
  content: "\e20b";
}
.nova-food-chicken-drum-stick-1:before {
  content: "\e20c";
}
.nova-fire-lighter:before {
  content: "\e20d";
}
.nova-flash:before {
  content: "\e20e";
}
.nova-flash-1:before {
  content: "\e20f";
}
.nova-flash-off:before {
  content: "\e210";
}
.nova-flash-off-1:before {
  content: "\e211";
}
.nova-folder-add:before {
  content: "\e212";
}
.nova-folder-add-1:before {
  content: "\e213";
}
.nova-folder-check:before {
  content: "\e214";
}
.nova-folder-check-1:before {
  content: "\e215";
}
.nova-folder-close:before {
  content: "\e216";
}
.nova-folder-close-1:before {
  content: "\e217";
}
.nova-folder-subtract:before {
  content: "\e218";
}
.nova-folder-subtract-1:before {
  content: "\e219";
}
.nova-fire-lighter-1:before {
  content: "\e21a";
}
.nova-fire-extinguisher:before {
  content: "\e21b";
}
.nova-fire-extinguisher-1:before {
  content: "\e21c";
}
.nova-files-3:before {
  content: "\e21d";
}
.nova-files-3-1:before {
  content: "\e21e";
}
.nova-files-2:before {
  content: "\e21f";
}
.nova-files-2-1:before {
  content: "\e220";
}
.nova-files-1:before {
  content: "\e221";
}
.nova-files-1-1:before {
  content: "\e222";
}
.nova-file-zipped-vice:before {
  content: "\e223";
}
.nova-file-zipped-vice-1:before {
  content: "\e224";
}
.nova-file-zipped-new:before {
  content: "\e225";
}
.nova-file-zipped-new-1:before {
  content: "\e226";
}
.nova-file-office-graph:before {
  content: "\e227";
}
.nova-file-office-text:before {
  content: "\e228";
}
.nova-file-office-text-1:before {
  content: "\e229";
}
.nova-file-swap:before {
  content: "\e22a";
}
.nova-file-swap-1:before {
  content: "\e22b";
}
.nova-file-tasks-add:before {
  content: "\e22c";
}
.nova-file-tasks-add-1:before {
  content: "\e22d";
}
.nova-file-tasks-checklist:before {
  content: "\e22e";
}
.nova-file-tasks-checklist-1:before {
  content: "\e22f";
}
.nova-file-tasks-close:before {
  content: "\e230";
}
.nova-file-tasks-close-1:before {
  content: "\e231";
}
.nova-file-tasks-subtract:before {
  content: "\e232";
}
.nova-file-tasks-subtract-1:before {
  content: "\e233";
}
.nova-file-office-graph-1:before {
  content: "\e234";
}
.nova-file-notes-new:before {
  content: "\e235";
}
.nova-file-notes-new-1:before {
  content: "\e236";
}
.nova-file-notes-document:before {
  content: "\e237";
}
.nova-file-notes-document-1:before {
  content: "\e238";
}
.nova-file-new-2:before {
  content: "\e239";
}
.nova-file-new-2-1:before {
  content: "\e23a";
}
.nova-file-new-1:before {
  content: "\e23b";
}
.nova-file-new-1-1:before {
  content: "\e23c";
}
.nova-file-landscape-new-1:before {
  content: "\e23d";
}
.nova-file-landscape-new-1-1:before {
  content: "\e23e";
}
.nova-file-hand:before {
  content: "\e23f";
}
.nova-file-hand-1:before {
  content: "\e240";
}
.nova-envelope-1:before {
  content: "\e241";
}
.nova-espresso-machine:before {
  content: "\e242";
}
.nova-espresso-machine-1:before {
  content: "\e243";
}
.nova-exposure-level:before {
  content: "\e244";
}
.nova-exposure-level-1:before {
  content: "\e245";
}
.nova-female-1:before {
  content: "\e246";
}
.nova-female-1-1:before {
  content: "\e247";
}
.nova-fence-caution:before {
  content: "\e248";
}
.nova-fence-caution-1:before {
  content: "\e249";
}
.nova-file-bookmark:before {
  content: "\e24a";
}
.nova-file-bookmark-1:before {
  content: "\e24b";
}
.nova-file-copy:before {
  content: "\e24c";
}
.nova-file-copy-1:before {
  content: "\e24d";
}
.nova-envelope-1-1:before {
  content: "\e24e";
}
.nova-email-timeout:before {
  content: "\e24f";
}
.nova-email-timeout-1:before {
  content: "\e250";
}
.nova-email-outbox:before {
  content: "\e251";
}
.nova-email-outbox-1:before {
  content: "\e252";
}
.nova-email-inbox:before {
  content: "\e253";
}
.nova-email-inbox-1:before {
  content: "\e254";
}
.nova-email-heart:before {
  content: "\e255";
}
.nova-email-heart-1:before {
  content: "\e256";
}
.nova-eco-field:before {
  content: "\e257";
}
.nova-eco-field-1:before {
  content: "\e258";
}
.nova-eco-factory:before {
  content: "\e259";
}
.nova-eco-factory-1:before {
  content: "\e25a";
}
.nova-cursor-touch-1:before {
  content: "\e25b";
}
.nova-data-download-5:before {
  content: "\e25c";
}
.nova-data-download-5-1:before {
  content: "\e25d";
}
.nova-data-upload-5:before {
  content: "\e25e";
}
.nova-data-upload-5-1:before {
  content: "\e25f";
}
.nova-devices:before {
  content: "\e260";
}
.nova-devices-1:before {
  content: "\e261";
}
.nova-dna:before {
  content: "\e262";
}
.nova-download-computer:before {
  content: "\e263";
}
.nova-download-computer-1:before {
  content: "\e264";
}
.nova-eco-car:before {
  content: "\e265";
}
.nova-eco-car-1:before {
  content: "\e266";
}
.nova-cursor-touch-1-1:before {
  content: "\e267";
}
.nova-cursor-arrow-2:before {
  content: "\e268";
}
.nova-cursor-arrow-2-1:before {
  content: "\e269";
}
.nova-cursor-arrow-1:before {
  content: "\e26a";
}
.nova-cursor-arrow-1-1:before {
  content: "\e26b";
}
.nova-crop-image:before {
  content: "\e26c";
}
.nova-crop-image-1:before {
  content: "\e26d";
}
.nova-couch:before {
  content: "\e26e";
}
.nova-couch-1:before {
  content: "\e26f";
}
.nova-content-bookmark-4:before {
  content: "\e270";
}
.nova-content-bookmark-4-1:before {
  content: "\e271";
}
.nova-content-book-6:before {
  content: "\e272";
}
.nova-content-book-6-1:before {
  content: "\e273";
}
.nova-cog-box:before {
  content: "\e274";
}
.nova-coin-purse-1:before {
  content: "\e275";
}
.nova-coin-purse-1-1:before {
  content: "\e276";
}
.nova-coin-stack-1:before {
  content: "\e277";
}
.nova-color-palette:before {
  content: "\e278";
}
.nova-color-palette-1:before {
  content: "\e279";
}
.nova-computer-personal-1:before {
  content: "\e27a";
}
.nova-computer-personal-1-1:before {
  content: "\e27b";
}
.nova-computer-screen-1:before {
  content: "\e27c";
}
.nova-computer-screen-1-1:before {
  content: "\e27d";
}
.nova-content-book-2:before {
  content: "\e27e";
}
.nova-content-book-2-1:before {
  content: "\e27f";
}
.nova-cog-box-1:before {
  content: "\e280";
}
.nova-coffee-mug:before {
  content: "\e281";
}
.nova-coffee-mug-1:before {
  content: "\e282";
}
.nova-cloud-harddisk-1:before {
  content: "\e283";
}
.nova-cloud-harddisk-1-1:before {
  content: "\e284";
}
.nova-cloud-1:before {
  content: "\e285";
}
.nova-cloud-2:before {
  content: "\e286";
}
.nova-close:before {
  content: "\e287";
}
.nova-close-1:before {
  content: "\e288";
}
.nova-chef-hat:before {
  content: "\e289";
}
.nova-chef-hat-1:before {
  content: "\e28a";
}
.nova-chef-1:before {
  content: "\e28b";
}
.nova-chef-1-1:before {
  content: "\e28c";
}
.nova-check-box:before {
  content: "\e28d";
}
.nova-check-box-1:before {
  content: "\e28e";
}
.nova-chat-bubble-square-subtract:before {
  content: "\e28f";
}
.nova-chat-bubble-square-subtract-1:before {
  content: "\e290";
}
.nova-chat-bubble-square-smiley:before {
  content: "\e291";
}
.nova-chat-bubble-square-smiley-1:before {
  content: "\e292";
}
.nova-chat-bubble-square-close:before {
  content: "\e293";
}
.nova-chat-bubble-square-close-1:before {
  content: "\e294";
}
.nova-chat-bubble-square-check:before {
  content: "\e295";
}
.nova-chat-bubble-square-check-1:before {
  content: "\e296";
}
.nova-chat-bubble-square-add:before {
  content: "\e297";
}
.nova-chat-bubble-square-add-1:before {
  content: "\e298";
}
.nova-chat-bubble-square-1:before {
  content: "\e299";
}
.nova-camera-1:before {
  content: "\e29a";
}
.nova-building-6:before {
  content: "\e29b";
}
.nova-bitcoin-windows:before {
  content: "\e29c";
}
.nova-beauty-hand-soap:before {
  content: "\e29d";
}
.nova-banking-donation-2:before {
  content: "\e29e";
}
.nova-atomic-bomb:before {
  content: "\e29f";
}
.nova-add-circle-1:before {
  content: "\e2a0";
}
.nova-add-circle-1-1:before {
  content: "\e2a1";
}
.nova-baby:before {
  content: "\e2a2";
}
.nova-banking-spendings-1:before {
  content: "\e2a3";
}
.nova-bitcoin-windows-1:before {
  content: "\e2a4";
}
.nova-beauty-lipstick:before {
  content: "\e2a5";
}
.nova-building-10:before {
  content: "\e2a6";
}
.nova-camera-1-1:before {
  content: "\e2a7";
}
.nova-camera-live-view-off:before {
  content: "\e2a8";
}
.nova-building-10-1:before {
  content: "\e2a9";
}
.nova-box-2:before {
  content: "\e2aa";
}
.nova-beauty-lipstick-1:before {
  content: "\e2ab";
}
.nova-baby-1:before {
  content: "\e2ac";
}
.nova-airplane:before {
  content: "\e2ad";
}
.nova-banking-spendings-2:before {
  content: "\e2ae";
}
.nova-airplane-1:before {
  content: "\e2af";
}
.nova-baby-hanging-toy:before {
  content: "\e2b0";
}
.nova-banking-spendings-3:before {
  content: "\e2b1";
}
.nova-bin:before {
  content: "\e2b2";
}
.nova-box-2-1:before {
  content: "\e2b3";
}
.nova-building-barn:before {
  content: "\e2b4";
}
.nova-camera-live-view-off-1:before {
  content: "\e2b5";
}
.nova-car-2:before {
  content: "\e2b6";
}
.nova-car-2-1:before {
  content: "\e2b7";
}
.nova-castle-1:before {
  content: "\e2b8";
}
.nova-castle-1-1:before {
  content: "\e2b9";
}
.nova-cc-camera-1:before {
  content: "\e2ba";
}
.nova-cc-camera-1-1:before {
  content: "\e2bb";
}
.nova-chair-1:before {
  content: "\e2bc";
}
.nova-chair-1-1:before {
  content: "\e2bd";
}
.nova-chat-bubble-square-1-1:before {
  content: "\e2be";
}
.nova-calendar-1:before {
  content: "\e2bf";
}
.nova-calendar-1-1:before {
  content: "\e2c0";
}
.nova-box-subtract:before {
  content: "\e2c1";
}
.nova-bitcoin-network:before {
  content: "\e2c2";
}
.nova-bitcoin-network-1:before {
  content: "\e2c3";
}
.nova-building-6-1:before {
  content: "\e2c4";
}
.nova-beauty-hand-soap-1:before {
  content: "\e2c5";
}
.nova-banking-donation-2-1:before {
  content: "\e2c6";
}
.nova-atomic-bomb-1:before {
  content: "\e2c7";
}
.nova-at-sign:before {
  content: "\e2c8";
}
.nova-banking-debit-machine:before {
  content: "\e2c9";
}
.nova-beaker-science:before {
  content: "\e2ca";
}
.nova-at-sign-1:before {
  content: "\e2cb";
}
.nova-bank-note:before {
  content: "\e2cc";
}
.nova-beaker-science-1:before {
  content: "\e2cd";
}
.nova-bitcoin-laptop:before {
  content: "\e2ce";
}
.nova-box-subtract-1:before {
  content: "\e2cf";
}
.nova-business-whiteboard:before {
  content: "\e2d0";
}
.nova-business-whiteboard-1:before {
  content: "\e2d1";
}
.nova-business-briefcase-cash:before {
  content: "\e2d2";
}
.nova-business-briefcase-cash-1:before {
  content: "\e2d3";
}
.nova-bus-2:before {
  content: "\e2d4";
}
.nova-bus-2-1:before {
  content: "\e2d5";
}
.nova-building-barn-1:before {
  content: "\e2d6";
}
.nova-box-add:before {
  content: "\e2d7";
}
.nova-box-add-1:before {
  content: "\e2d8";
}
.nova-box-check:before {
  content: "\e2d9";
}
.nova-box-check-1:before {
  content: "\e2da";
}
.nova-box-handle-1:before {
  content: "\e2db";
}
.nova-box-handle-1-1:before {
  content: "\e2dc";
}
.nova-bitcoin-laptop-1:before {
  content: "\e2dd";
}
.nova-bitcoin-cloud:before {
  content: "\e2de";
}
.nova-bitcoin-cloud-1:before {
  content: "\e2df";
}
.nova-binoculars:before {
  content: "\e2e0";
}
.nova-binoculars-1:before {
  content: "\e2e1";
}
.nova-bin-1:before {
  content: "\e2e2";
}
.nova-battery-charging-1:before {
  content: "\e2e3";
}
.nova-battery-charging-1-1:before {
  content: "\e2e4";
}
.nova-battery-high:before {
  content: "\e2e5";
}
.nova-battery-high-1:before {
  content: "\e2e6";
}
.nova-battery-low:before {
  content: "\e2e7";
}
.nova-battery-low-1:before {
  content: "\e2e8";
}
.nova-bank-note-1:before {
  content: "\e2e9";
}
.nova-android:before {
  content: "\e2ea";
}
.nova-android-1:before {
  content: "\e2eb";
}
.nova-backpack:before {
  content: "\e2ec";
}
.nova-backpack-1:before {
  content: "\e2ed";
}
.nova-alien-head:before {
  content: "\e2ee";
}
.nova-alien-head-1:before {
  content: "\e2ef";
}
.nova-baby-trolley:before {
  content: "\e2f0";
}
.nova-baby-trolley-1:before {
  content: "\e2f1";
}
.nova-baby-hanging-toy-1:before {
  content: "\e2f2";
}
.nova-alien:before {
  content: "\e2f3";
}
.nova-alien-1:before {
  content: "\e2f4";
}
.nova-user-magnify-1:before {
  content: "\61";
}
