﻿@{
    Layout = null;
}
<div class="rekrut-modal no-tab animated slideInDown">
    <div class="inner-overlay" ng-if="saving">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <i class="mdi mdi-clock animated shake"></i>
    </div>
    <form novalidate name="form">
        <div class="inner">
            <h1 class="title">Add new task</h1>
            <div class="inline-input">
                <label for="project">Project</label>
                <ui-select ng-model="task.project" ng-change="projectChange()" search-enabled="false" theme="select2">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="proj.id as proj in projectNames">
                        <div ng-bind-html="proj.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="inline-input">
                <label for="source">Source</label>
                <ui-select ng-model="task.source" search-enabled="false" theme="select2">
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="source.value as source in sources">
                        <div ng-bind-html="source.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="inline-input">
                <label for="title">Title</label>
                <input type="text" id="title" ng-model="task.title" class="full" required />
            </div>
            <div class="inline-input-holder">
                <div class="inline-input">
                    <label for="description">Description</label>
                    <textarea ck-editor id="description" ng-model="task.description"></textarea>
                </div>
            </div>
            <div class="inline-input-holder">
                <div class="inline-input">
                    <label for="assignedTo">Assigned to</label>
                    <ui-select ng-model="task.assignedTo" search-enabled="false" theme="select2">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="member.id as member in team">
                            <div ng-bind-html="member.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="inline-input">
                    <label for="priority">Priority</label>
                    <ui-select ng-model="task.priority" class="sml" search-enabled="false" theme="select2">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="priority.value as priority in priorities">
                            <div ng-bind-html="priority.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="inline-input">
                    <div class="input-daterange">
                        <div class="inline-input with-icon">
                            <label for="startDate">Start Date</label>
                            <i class="mdi mdi-calendar-today"></i>
                            <input type="text" name="start" id="startDate" readonly ng-model="task.start.date" class="sml with-icon" required />
                            <button type='button' ng-click="setupTime('start')"><i class="mdi" ng-class="task.start.timeOn ? 'mdi-clock' : 'mdi-timer-off'"></i></button>
                        </div>
                        <div class="inline-input with-icon">
                            <label for="dueDate">Due Date</label>
                            <i class="mdi mdi-calendar"></i>
                            <input type="text" name="end" id="dueDate" readonly ng-model="task.end.date" class="sml with-icon" required />
                            <button type='button' ng-click="setupTime('end')"><i class="mdi" ng-class="task.end.timeOn ? 'mdi-clock' : 'mdi-timer-off'"></i></button>
                        </div>
                    </div>
                    <div class="inline-input with-icon floating left animated flipInX" ng-if="task.start.timeOn">
                        <i class="mdi mdi-clock"></i>
                        <input type="text" name="starttime" ng-change="fixDates('start')" id="startTime" readonly ng-model="task.start.time" class="time sml with-icon" required />
                    </div>
                    <div class="inline-input with-icon floating right animated flipInX" ng-if="task.end.timeOn">
                        <i class="mdi mdi-clock"></i>
                        <input type="text" name="endtime" ng-change="fixDates('end')" id="dueTime" readonly ng-model="task.end.time" class="time sml with-icon" required />
                    </div>
                </div>
                <div class="upload-holder clearfix">
                    <div class="upload-button">
                        <button>Browse Files</button>
                        <input type="file" nv-file-select uploader="uploader" multiple />
                    </div>
                    <div>or <b>Drop Files Here</b></div>
                    <div nv-file-drop="" nv-file-over="" class="nv-file-drop" uploader="uploader" over-class="over-zone">
                        <i class="mdi mdi-arrow-up"></i>
                    </div>
                </div>
                <ul class="upload-list" ng-if="uploader.queue.length">
                    <li ng-repeat="item in uploader.queue" class="clearfix">
                        <span>{{item.file.name + " (" + (item.file.size/1024).toFixed(2) + "kB)"}}</span>
                        <button ng-click="item.remove()" class="remove"><i class="mdi mdi-close"></i></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="buttons clearfix">
            <button class="btn cancel pull-right" ng-click="closeTaskScreen($event, form)">Cancel</button>
            <button class="btn save pull-right" ng-click="saveTask($event, form)">Save</button>
        </div>
    </form>
</div>
