﻿@{
    Layout = null;
}
<div id="searchFilter" class="without-top with-new-btn">
    <button class="btn create-new" ng-click="createOrUpdateTask('')">Create new task</button>
    <div class="filter-holder">
        <ul class="filter-list">
            <li class="title">General</li>
            <li>
                <label class="clickables" ng-click="statusChange('active')" ng-class="{checked: filter.active}">
                    <span class="toggle-stat"><i class="mdi mdi-plus"></i></span>
                    <span class="text">Active</span>
                    <b>{{status.active}}</b>
                </label>
            </li>
            <li>
                <label class="clickables" ng-click="statusChange('processing')" ng-class="{checked: filter.processing}">
                    <span class="toggle-stat"><i class="mdi mdi-plus"></i></span>
                    <span class="text">Processing</span>
                    <b>{{status.processing}}</b>
                </label>
            </li>
            <li>
                <label class="clickables" ng-click="statusChange('completed')" ng-class="{checked: filter.completed}">
                    <span class="toggle-stat"><i class="mdi mdi-plus"></i></span>
                    <span class="text">Completed</span>
                    <b>{{status.completed}}</b>
                </label>
            </li>
            <li>
                <label class="clickables" ng-click="statusChange('closed')" ng-class="{checked: filter.closed}">
                    <span class="toggle-stat"><i class="mdi mdi-plus"></i></span>
                    <span class="text">Closed</span>
                    <b>{{status.closed}}</b>
                </label>
            </li>
            <li>
                <label class="clickables" ng-click="statusChange('overdue')" ng-class="{checked: filter.overdue}">
                    <span class="toggle-stat"><i class="mdi mdi-plus"></i></span>
                    <span class="text">Overdue</span>
                    <b>{{status.overdue}}</b>
                </label>
            </li>
        </ul>
    </div>
    <button class="btn filter-button reset" ng-click="reset()">Reset Filters</button>
</div>
<div id="searchResults" class="without-top">
    @Html.Partial("Loading")
    <ul masonry class="task-list clearfix" ng-if="tasks.length > 0" ng-cloak>
        <li class="masonry-brick" ng-repeat="task in tasks">
            <div class="title">
                <div class="box-pop" click-out="task.boxOpen = false" ng-class="{'active' : task.boxOpen}" ng-click="task.boxOpen = !task.boxOpen">
                    <span></span>
                    <ul ng-if="task.boxOpen" class="animated fadeInRight">
                        <li ng-if="task.status != 'Closed' && task.status != 'Completed'">
                            <button ng-click="createOrUpdateTask(task.id)" class="pop"><i class="mdi mdi-pen"></i></button>
                        </li>
                        <li ng-if="task.status == 'Closed' || task.status == 'Completed' || task.status == 'Processing'">
                            <button ng-click="changeStatus(task, (task.status == 'Processing' ? 'a' : 'p'), true)" class="pop"><i class="mdi mdi-arrow-left"></i></button>
                        </li>
                        <li ng-if="task.status != 'Closed' && task.status != 'Completed'">
                            <button ng-click="changeStatus(task, 'd', false)" class="pop"><i class="mdi mdi-check"></i></button>
                        </li>
                        <li ng-if="task.status != 'Closed' && task.status != 'Completed'">
                            <button ng-click="changeStatus(task, 'p', false)" class="pop"><i class="mdi mdi-clock-fast"></i></button>
                        </li>
                        <li ng-if="task.status != 'Closed'">
                            <button ng-click="changeStatus(task, 'c', false)" class="pop"><i class="mdi mdi-close"></i></button>
                        </li>
                        <li><button class="pop" ng-click="deleteTask(task)"><i class="mdi mdi-delete"></i></button></li>
                    </ul>
                </div>
                <h1>{{task.title}}</h1>
            </div>
            <h1 class="project" ng-class="task.status">Project: <b>{{task.project}}</b></h1>
            <h1>Source: <b>{{task.source}}</b></h1>
            <div class="details">
                <div class="clearfix">
                    <h1 class="pull-left" ng-class="task.priority"><i class="mdi mdi-brightness-1"></i>Priority: <b>{{task.priority}}</b></h1>
                    <h1 class="pull-right">Due: <b>{{daysLeft(task.due, task.status)}}</b></h1>
                </div>
                <div class="clearfix" ng-if="task.time.length > 0" style="margin-top:5px;">
                    <h1 class="pull-right">At: <b>{{task.time}}</b></h1>
                </div>
                <hr ng-if="task.description.length > 0" />
                <div class="description" ng-bind-html="task.description"></div>
            </div>
        </li>
    </ul>
    <div class="filler animated wobble" ng-if="tasks.length < 1" ng-cloak>
        <div ng-if="!fromASearch">
            <img src="~/Content/images/tasks.png" />
            <h1>Filter your <b>R</b>ekrüt Tasks to see what's on your plate</h1>
        </div>
        <div ng-if="fromASearch">
            <i class="mdi mdi-emoticon-sad"></i>
            <h1>Sorry no <b>R</b>ekrüts were found. Try using some different filters.</h1>
        </div>
    </div>
</div>